<wml>
<head>
<meta http-equiv="Cache-Control" content="no-Cache"/>
<meta http-equiv="Cache-Control" content="max-age=0"/>
</head>
<card id="main" title="{$GetClassName}">
<p>
{$GetReadMessage}
【最新游戏】<br />
{$GetShowClassList(2,,<br/>,5,30)}
【随机推荐】<br/>
{$GetShowClassList(4,,<br/>,5,30)}
【搜索游戏】<br />
<input name="KeyWord" type="text" value=""/>
<anchor>搜索<go href="Plus/Wap_Search.asp?{$GetWapValue}" method="post">
<postfield name="ChannelID" value="{$GetChannelID}"/>
<postfield name="KeyWord" value="$(KeyWord)"/>
</go></anchor>
<anchor>编号下载<go href="Plus/PlaitDownLoad.asp?{$GetWapValue}" method="post">
<postfield name="ChannelID" value="{$GetChannelID}"/>
<postfield name="KeyWord" value="$(KeyWord)"/>
</go></anchor>
<br/>
【游戏分类】<br />
{$GetClassList(2,|)}
--------<br />
{$GetLocation}<br/>
{$GetCopyRight}
</p>
</card>
</wml>
