
<link href="skin/enterprise2/style.css" rel="stylesheet" type="text/css">
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="106" background="skin/enterprise2/cms01_01.jpg">
	<table width="950" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="716" height="70"><span class="title_01">{$ShowBlogName}</span></td>
        <td width="234">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="40"><div align="right"><a href="{$GetInstallDir}" target="_blank"><img src="skin/enterprise2/gohome.gif" width="101" height="24" border="0"></a></div></td>
          </tr>
          <tr>
            <td><div align=right><span class="color_fff">今天是：
                    <script src="{$GetInstallDir}ks_inc/time/2.js"></script>
            </SPAN></div></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="36" colspan="2" valign="bottom">
		<table width="900" height="31" border="0" align="center" cellpadding="0" cellspacing="0" background="skin/enterprise2/menu_bg.jpg">
          <tr>
            <td><div align="center">{$ShowNavigation}</div></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>

<table border="0" align="center" cellpadding="0" cellspacing="0" background="skin/enterprise2/cms01_05.jpg">
  <tr>
    <td>
	<table width="950" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="950"><img src="skin/enterprise2/top.jpg" width="950" height="227"></td>
      </tr>
    </table>
      <table width="950" border="0" align="center" cellpadding="0" cellspacing="0" class="margin_t_5 margin_b_5">
        <tr>
          <td width="625" valign="top" style="padding-left:15px">
<table width="99%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
            <tr>
              <td><table width="97%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="25" class="tb_b_1"><span class="title_02">企业简介</span></td>
  </tr>
  <tr>
    <td class="showintro">{$ShowShortIntro}{$GetRealName}</td>
    </tr>
</table>
                <table width="99%" border="0" align="center" cellpadding="0" cellspacing="0" class="margin_t_5">
                  <tr>
                    <td height="25" class="tb_b_1"><span class="title_02">最新供应</span></td>
                  </tr>
                  <tr>
                    <td height="150" valign="bottom">
					<table width="606%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td height="140" valign="top"  class="showintro">{$ShowSupply}</td>
                        </tr>
                    </table></td>
                  </tr>
                </table>
                <table width="99%" border="0" align="center" cellpadding="0" cellspacing="0" class="margin_t_5">
                  <tr>
                    <td height="25" class="tb_b_1"><span class="title_02">环境展示</span></td>
                  </tr>
                  <tr>
                    <td height="150" valign="bottom"><table width="606%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="151" height="140" valign="top">{$ShowNewAlbum}</td>
                        </tr>
                    </table></td>
                  </tr>
                </table></td>
            </tr>
          </table></td>
          <td width="325" valign="top" background="skin/enterprise2/0000.gif"><table width="96%" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td height="25"  class="tb_b_1">企业新闻</td>
              </tr>
              <tr>
                <td height="85" valign="top">
				<table width="100%" border="0" cellpadding="0" cellspacing="0" class="margin_t_5">
                    <tr>
                      <td height="22">{$ShowNews}</td>
                    </tr>
                </table></td>
              </tr>
            </table>
              <table width="96%" border="0" align="center" cellpadding="0" cellspacing="0" class="margin_t_5">
                <tr>
                  <td height="25" class="tb_b_1">公司公告</td>
                </tr>
                <tr>
                  <td height="85" valign="top">
				  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="margin_t_5">
                      <tr>
                        <td height="22">{$ShowAnnounce}</td>
                      </tr>
                  </table></td>
                </tr>
              </table>
              <table width="96%" border="0" align="center" cellpadding="0" cellspacing="0" class="margin_t_5">
                <tr>
                  <td height="25" class="tb_b_1">客户留言</td>
                </tr>
                <tr>
                  <td height="85" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="margin_t_5">
                      <tr>
                        <td height="22" class="tb_s_1">{$ShowMessage}</td>
                      </tr>
                  </table></td>
                </tr>
            </table></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table width="1004" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td background="skin/enterprise2/cms01_06.jpg"><table width="950" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="25"><span class="foot">Powered by <a href='http://www.kesion.com' target="_blank">Kesion.Com</a> &copy; 2008</span></td>
        </tr>
    </table></td>
  </tr>
</table>
