<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{$GetSiteTitle}-公告页</title>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<link href="{$GetInstallDir}images/index.css" type=text/css rel=stylesheet>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 
<body>
<div id="topdiv">
   <div id="topper">
	<div id="datediv"><img src="{$GetInstallDir}images/taiyang.gif" align="absmiddle">今天是：{$JS_Time2}</div>
	<div id="icon01"><img src="{$GetInstallDir}images/m_list_49.gif" align="absmiddle"></div>
	<div id="logondiv">{$GetTopUserLogin}</div>
	<div id="makehome"><img src="{$GetInstallDir}images/home.gif" align="absmiddle">{$JS_HomePage} <img src="{$GetInstallDir}images/email.gif" align="absmiddle"> {$JS_Collection} <img src="{$GetInstallDir}images/ic_chan.gif" align="absmiddle"> {$JS_Language}</div>
	<div class="clear"></div>
	</div>
</div>

	<div class="header">
	  <div class="head">
		<div class="logo"><img src="{$GetInstallDir}images/logo.jpg"></div>
		<div class="header_right">
		  <ul>
			<li width="80"><img src="{$GetInstallDir}Images/icon_01.gif" /></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_02.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_03.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_04.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_05.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_06.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_07.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_08.gif"/></li>
		  </ul>
		  <div class="clear"></div>
		  <ul>
			<li><a href="{$GetInstallDir}User/index.asp">会员中心</a></li>
			<li><a href="{$GetInstallDir}company">企业黄页</a></li>
			<li><a href="{$GetInstallDir}music">音乐系统</a></li>
			<li><a href="{$GetInstallDir}shop/GroupBuy.asp">团购报名</a></li>
			<li><a href="{$GetInstallDir}club/index.asp">互动交流</a></li>
			<li><a href="{$GetInstallDir}User/?User_ScoreExchange.asp">积分兑换</a></li>
			<li><a href="{$GetInstallDir}product">产 品 库</a></li>
			<li><a href="{$GetInstallDir}space">个人门户</a></li>
		  </ul>
		</div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="menu">
		<div class="nav">
			<ul>
				<li><a class=blue-bg href="{$GetInstallDir}">网站首页</a> </li>
				{LB_频道导航}
			</ul>
		</div>
	</div>

	<div class="sea">
		<div class="search">
			<div class="sp_sea_l">{$GetSearch}</div>
			<div class="sp_sea_r">
			   <div class="spnum">购物车共有<font color="#FF0101"><script src="{$GetInstallDir}shop/ShowShoppingCartNum.asp"></script></font>件商品</div>
			   <div class="s_btn1"><a href="{$GetInstallDir}shop/ordersearch.asp" target=_blank>订单查询</a></div>
			   <div class="s_btn2"><a href="{$GetInstallDir}User/">我的账户</a></div>
			</div>
		</div>
	</div>
<div class="clear"></div>
<!-- 顶部结束 -->

<div id="ad950_40"><img src="{$GetInstallDir}images/eshop/sxx.png" /></div>

<div class="clear"></div>
<style>
.ggmain{width:950px; margin:0px auto; margin-top:10px;}
.ggsite{
   font-size:12px;padding-left:40px;color:white;
}
.ggsite a:link,.ggsite a:visited{
  color:white;
}
.ggsite a:hover{
  color:red;
}
.anntitle{
   font-size:14px;font-weight:bold;color:#003366; padding-left:10px;
}
.anntitle img{
  padding-right:10px;
}
.anncontent{
  font-size:14px; line-height:25px; padding:8px;
}
</style>
<div class="ggmain">
  <table cellSpacing=0 cellPadding=0 width=950 align=center bgColor=#ffffff border=0>
   <tbody>
      <tr>
        <td vAlign=top width=950 height=217>
		<table cellSpacing=0 cellPadding=0 width=100% bgColor=#109dd6 border=0> <tbody>
              <tr>
                <td  height=32 class="ggsite">当前位置：<a href="{$GetInstallDir}">科汛网络开发</a> >> 公告 </td>
              </tr>
            </tbody>
        </table>
            <table cellSpacing=0 cellPadding=0 width=100% border=0> <tbody>
                <tr>
                  <td vAlign=top align=right width="4%" bgColor=#109dd6 
            height=174><IMG height=100 src="{$GetInstallDir}images/touyin.jpg" width=5></td>
                  <td vAlign=top width="92%" bgColor=#ffffff>
				  <table cellSpacing=0 cellPadding=0 width="100%" border=0> <tbody>
                        <tr>
                          <td vAlign=top width="96%">
						  <table class=wz1 cellSpacing=0 cellPadding=0 width="100%"  border=0> <tbody>
                                <tr>
                                  <td width="3%">　</td>
                                  <td class=wzkuan vAlign=top width="97%"><BR>
                                      <table class=wz1 cellSpacing=3 cellPadding=3 
                        width="100%" border=0> <tbody>
                                          <tr>
                                            <td bgColor=#aaeaff height=22 class="anntitle"><img src="{$GetInstallDir}images/s_7.gif">{$GetAnnounceTitle}</td>
                                          </tr>
                                          <tr>
                                            <td bgColor=#ddffbb class="anncontent">{$GetClassIntro}{$GetAnnounceContent}</td>
                                          </tr>
                                          <tr>
                                            <td align="right" bgColor=#aaeaff>　公告时间：<font color=#f70968>{$GetAnnounceDate}</font>&nbsp;&nbsp; 发布者：{$GetAnnounceAuthor}&nbsp;&nbsp; <strong><a href="javascript:window.close()">关闭窗口 </a></strong><br>                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    <br /></td>
                                </tr>
                              </tbody>
                          </table></td>
                          <td vAlign=top width=32><IMG height=44 
                  src="{$GetInstallDir}images/bieqian.jpg" width=32></td>
                        </tr>
                      </tbody>
                  </table></td>
                  <td vAlign=top width="4%" bgColor=#109dd6>
				  <table cellSpacing=0 cellPadding=0 width="58%" border=0>
				  <tbody>
                        <tr>
                          <td width="12" height=44 vAlign=top><IMG height=44 src="{$GetInstallDir}images/bieqian2.jpg" width=12></td>
                        </tr>
                      </tbody>
                  </table>
				  </td>
                </tr>
              </tbody>
            </table>
          <table cellSpacing=0 cellPadding=0 width=100% bgColor=#109dd6 border=0> 
		  <tbody>
                <tr>
                  <td>　</td>
                </tr>
              </tbody>
          </table>
		  </td>
      </tr>
    </tbody>
  </table>
  </div>
<div class="clear"></div>
{LB_底部通用}
</body>
</html>
