<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{$GetSiteTitle}-搜索结果</title>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<link href="{$GetInstallDir}images/index.css" type=text/css rel=stylesheet>
<script src="{$GetInstallDir}ks_inc/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  jQuery("#stype>option[value={@search.stype}]").attr("selected",true);
});
</script>
</head>
<body>
<div class="searchmain">
   <div class="searchmainl"><a href="{$GetInstallDir}"><img src="{$GetInstallDir}images/logo.jpg"alt="到科汛首页" width="220" height="75" border="0"></a></div>
   <div class="searchmainr">
      <form name="searchform" action="../../plus/search/" method="get">
	<div class="Tit" id='Tit'>
	 <ul>
	    {@search.menu}
	 </ul>
    </div>
	<div class="clear"></div>
	<div>
	<input name="key" id="key" size="52" class="i" value="{@search.keyword}" maxlength="100"> 
	<select name="stype" id="stype"> 
	  <option value="1">标题</option>
	  <option value="2">内容</option>
	  <option value="3">录入</option>
	</select>
    <input type=hidden name="m" id="m" value="{@search.channelid}"><input style="padding:3px" type="submit" value=" 搜 索 ">
	</div>
	
	</form>
   </div>
</div>
<div class="search_search">
  <div class="search_l">{$JS_HomePage} | {$JS_Collection}</div>
  
<div class="search_r"> 搜索"<span style="color:#FF0000">{@search.keyword}</span>",本次共找到相关网页约<span style="color:#FF0000">{@search.totalput}</span>条,用时<span style="color:#FF0000">{@search.leavetime}</span>秒</div>

</div>



<div class="search_main">
   <div class="search_left">
	<div class="articlesearch">
	     {@loop.begin}
              <ul>
                <li><span class="art_title"><a href="{@item.linkurl}" target="_blank">{@item.title} </a></span> <span class="class_name">[<a href="{@item.classurl}" target="_blank">{@item.classname}</a>]</span><br />
               <span class="artintro">{@item.intro}...</span> <br />
			   <span class="arturl"><a href="{@item.linkurl}" target="_blank">{@item.linkurl}</a></span> <span class="c9">{@item.adddate}</span><br />
			   </li>
            </ul>
        {@loop.end}
		
		
		
		
	   <div style="clear:both"></div>
		 {@search.showpage}
	   <div style="clear:both"></div>
		 
		 
	</div>	
	
	<div style="padding-left:10px;height:50px;" class="relatesearch">
	  <table width="100%" border="0">
        <tr>
          <td width="80" class="xgs">相关搜索:</td>
          <td align="left">
            {@search.relative}
          </td>
        </tr>
      </table>
	 
	</div>
	
	<div style="text-align:center;height:50px;">
	
	<form name="searchbform" action="../../plus/search/" method="get">
	<div class="clear"></div>
	<div>
	<b>快速搜索:</b>
	<input name="key" id="key" size="52" class="i" value="{@search.keyword}" maxlength="100"> 
	<select name="stype" id="stype"> 
	  <option value="1">标题</option>
	  <option value="2">内容</option>
	  <option value="3">录入</option>
	</select>
    <input type=hidden name="m" id="m" value="{@search.channelid}"><input style="padding:3px" type="submit" value=" 搜 索 ">
	</div>
	
	</form>

	</div>
	
	  
 </div>
 <!--搜索页左边结束-->
   <div class="search_right">
       <div class="search_box">
	      <div class="search_lstitle">最新搜索记录</div>
		  <div class="others">{@search.records}</div>
	   </div>
	   
       <div class="search_box">
	      <div class="search_lstitle">广告赞助</div>
		    <!--google广告-->
					<script type="text/javascript"><!--
			google_ad_client = "pub-5956859924490666";
			/* 250x250, 创建于 10-1-4 */
			google_ad_slot = "0811701821";
			google_ad_width = 250;
			google_ad_height = 250;
			//-->
			</script>
			<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
	    <!--google广告-->
	   </div>
	 </div>
 </div>
  <div class="clear"></div>
{LB_底部通用}
</body>
</html>
