<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>查看[{$GetTitle}]的所有评论</title>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<link href="{$GetInstallDir}images/index.css" type=text/css rel=stylesheet>
</head>
<body>
<div id="topdiv">
   <div id="topper">
	<div id="datediv">今天是：{$JS_Time2}</div>
	<div id="hpointline"></div>
	<div id="icon01"></div>
	<div id="logondiv">{$GetTopUserLogin}</div>
	<div id="makehome">{$JS_HomePage} | {$JS_Collection} | {$JS_Language}</div>
	<div class="clear"></div>
	</div>
</div>

	<div class="header">
	  <div class="head">
		<div class="logo"><img src="{$GetInstallDir}images/logo.jpg"></div>
		<div class="header_right">
		  <ul>
			<li width="80"><img src="{$GetInstallDir}Images/icon_01.gif" /></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_02.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_03.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_04.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_05.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_06.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_07.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_08.gif"/></li>
		  </ul>
		  <div class="clear"></div>
		   <ul>
			<li><a href="{$GetInstallDir}User/index.asp">会员中心</a></li>
			<li><a href="">企业黄页</a></li>
			<li><a href="{$GetInstallDir}music">音乐系统</a></li>
			<li><a href="{$GetInstallDir}ask/">在线问答</a></li>
			<li><a href="{$GetInstallDir}club/index.asp">留言系统</a></li>
			<li><a href="{$GetInstallDir}User/?User_ScoreExchange.asp">积分兑换</a></li>
			<li><a href="{$GetInstallDir}product">产 品 库</a></li>
			<li><a href="{$GetInstallDir}space">个人门户</a></li>
		  </ul>
		</div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="menu">
		<div class="nav">
			<ul>
				<li><a class=blue-bg href="{$GetInstallDir}">网站首页</a> </li>
				<li><a class=current href="{$GetInstallDir}?list-567.html">新闻频道</a> </li>
				<li><a class=blue-bg href="{$GetInstallDir}Item/list.asp?id=569">图片频道</a> </li>
				<li><a class=blue-bg href="{$GetInstallDir}?list-724.html">下载频道</a> </li>
				<li><a class=blue-bg href="{$GetInstallDir}Item/list.asp?id=625">动漫频道</a> </li>
				<li><a class=blue-bg href="{$GetInstallDir}Item/list.asp?id=658">影视频道</a> </li>
				<li><a class=blue-bg href="{$GetInstallDir}Item/list.asp?id=591">在线购物</a> </li>
				<li><a class=blue-bg href="{$GetInstallDir}Item/list.asp?id=592">分类信息</a> </li>
				<li><a class=blue-bg href="{$GetInstallDir}job">求职招聘</a> </li>
				<li><a class=blue-bg href="{$GetInstallDir}ask">问答中心</a> </li>
				<li><a class=blue-bg href="{$GetInstallDir}club/index.asp">互动论坛</a> </li>
			</ul>
		</div>
	</div>
	<div class="sea">
		<div class="search">
			<div class="sea_l">{$GetSearch}</div>
			<div class="sea_r">{=GetTags(1,12)}</div>
		</div>
	</div>
<div class="clear"></div>
<!-- 顶部结束 -->
<div class="nry">
   <div class="nry_left">
       <div class="position">{LB_位置导航}</div>
	<div class="aboutarticle">
	    <div class="about_article">发表评论</div>
		 <div class="WriteComment">{$GetWriteComment}</div>
	</div>	
	  <div class="aboutarticle">
	    <div class="about_article">用户评论</div>
		 <div class="ShowComment">{$GetShowComment}</div>
	</div>		  
   <div class="goindex"><a href="{$GetInstallDir}"><img height=100 src="{$GetInstallDir}Images/goindex.gif" width=285 border=0></a></div>
 </div>
 <!--评论页左边结束-->
   <div class="nry_right">
     <div class="art_ad"><img src="{$GetInstallDir}images/art_ad.gif" width="280" height="120"></div>
	  <div class="rightpic">
	    <div class="rightpic_tt"><img src="{$GetInstallDir}images/art_bg_icon.gif" alt="最新资讯 " />最新资讯</div>
	    <div class="art_list">
		  <ul>
		    <li>{LB_通用最新新闻}</li>
		  </ul>
			<div class="clear"></div>
		 </div>
	 </div>
     <div class="rightpic">
	    <div class="rightpic_tt"><img src="{$GetInstallDir}images/art_bg_icon.gif" alt="推荐资讯 " />推荐资讯</div>
	    <div class="art_list">
		  <ul>
		    <li>{LB_通用新闻推荐}</li>
		  </ul>
			<div class="clear"></div>
		 </div>
	 </div>
	      <div class="rightpic">
	    <div class="rightpic_tt"><img src="{$GetInstallDir}images/art_bg_icon.gif" alt="视觉焦点 " />视觉焦点</div>
	    <div class="rightpic_list">
		  <ul>
		    <li>{LB_视觉焦点}</li>
		  </ul>
			<div class="clear"></div>
		 </div>
	 </div>
   </div>
</div>
  <div class="clear"></div>
 {LB_底部通用}
</body>
</html>
