<wml>
<head>
<meta http-equiv="Cache-Control" content="no-Cache"/>
<meta http-equiv="Cache-Control" content="max-age=0"/>
</head>
<card id="main" title="精彩空间-{$GetSiteName}">
<p>
{$GetReadMessage}
{$GetUserLogin}<br/>
<a href="MoreSpace.asp?{$WapValue}">空间</a>
<a href="MoreGroup.asp?{$WapValue}">圈子</a>
<a href="MoreLog.asp?{$WapValue}">日志</a>
<a href="MorePhoto.asp?{$WapValue}">相册</a>
<br/>
【最新日志】<br/>
{$GetLogList(0,1,·,<br/>,10,30)}


日志查找:<input type="text" size="12" name="key"/>
<anchor>搜索<go href="MoreLog.asp?{$WapValue}" method="post">
<postfield name="ClassID" value="0"/>
<postfield name="key" value="$(key)"/>
</go></anchor><br/>

【最新图册】<br/>
{SQL_WAP最新图册()}<br/>
【最近评论】<br/>
{SQL_WAP最新评论()}<br/>
{$GetGoBackIndex}
</p>
</card>
</wml>