<wml>
<head>
<meta http-equiv="Cache-Control" content="no-Cache"/>
<meta http-equiv="Cache-Control" content="max-age=0"/>
</head>
<card id="main" title="{$GetClassName}">
<p>
{$GetReadMessage}
【最新文章】<br/>
{$GetShowClassList(2,<img src="images/Arrow_2.gif" />,<br/>,5,30)}
【推荐文章】<br/>
{$GetShowClassList(3,<img src="images/Arrow_2.gif" />,<br/>,5,30)}
【随机文章】<br/>
{$GetShowClassList(4,<img src="images/Arrow_2.gif" />,<br/>,5,30)}
【搜索文章】<br/>
<input name="KeyWord" type="text" value=""/>
<anchor>搜索<go href="Plus/Search.asp?{$WapValue}" method="post">
<postfield name="ChannelID" value="{$GetChannelID}"/>
<postfield name="KeyWord" value="$(KeyWord)"/>
</go></anchor>
<br />
【文章分类】<br/>
{$GetClassList(2,|)}
--------<br/>
{$GetLocation}<br/>
{$GetCopyRight}
</p>
</card>
</wml>