<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{$GetSiteTitle}--{$GetPKTitle}:{$GDType}</title>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 
<link href="{$GetInstallDir}images/index.css" type=text/css rel=stylesheet>
</head>
<body>
<div id="topdiv">
   <div id="topper">
	<div id="datediv"><img src="{$GetInstallDir}images/taiyang.gif" align="absmiddle">今天是：{$JS_Time2}</div>
	<div id="icon01"><img src="{$GetInstallDir}images/m_list_49.gif" align="absmiddle"></div>
	<div id="logondiv">{$GetTopUserLogin}</div>
	<div id="makehome"><img src="{$GetInstallDir}images/home.gif" align="absmiddle">{$JS_HomePage} <img src="{$GetInstallDir}images/email.gif" align="absmiddle"> {$JS_Collection} <img src="{$GetInstallDir}images/ic_chan.gif" align="absmiddle"> {$JS_Language}</div>
	<div class="clear"></div>
	</div>
</div>

	<div class="header">
	  <div class="head">
		<div class="logo"><img src="{$GetInstallDir}images/logo.jpg"></div>
		<div class="header_right">
		  <ul>
			<li width="80"><img src="{$GetInstallDir}Images/icon_01.gif" /></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_02.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_03.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_04.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_05.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_06.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_07.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_08.gif"/></li>
		  </ul>
		  <div class="clear"></div>
		  <ul>
			<li><a href="/User/index.asp">会员中心</a></li>
			<li><a href="/company">企业黄页</a></li>
			<li><a href="/music">音乐系统</a></li>
			<li><a href="/shop/GroupBuy.asp">团购报名</a></li>
			<li><a href="/club/index.asp">互动交流</a></li>
			<li><a href="/User/?User_ScoreExchange.asp">积分兑换</a></li>
			<li><a href="/product">产 品 库</a></li>
			<li><a href="/space">个人门户</a></li>
		  </ul>
		</div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="menu">
		<div class="nav">
			<ul>
				<li><a class=blue-bg href="/">网站首页</a> </li>
				{LB_频道导航}
			</ul>
		</div>
	</div>
	<div class="sea">
		<div class="search">
			<div class="sea_l">{$GetSearch}</div>
			<div class="sea_r">{=GetTags(1,8)}</div>
		</div>
	</div>
<div class="clear"></div>

<style>
.PKContent{width:948px; margin:0px auto; margin-top:10px; border:#ccc 1px solid}
.pktitle{text-align:center; font-family:"黑体"; font-size:30px; font-weight:bold;line-height:30px; clear:both; padding-top:15px;}
.pktitle a{ color:#006699;}
.pksm{text-align:left;padding-left:20px; font-size:14px; height:30px; line-height:30px;}
.CommentList{padding:8px;}
.CommentList span.STYLE1{color:green; font-size:14px;font-weight:bold;}
.CommentList span.STYLE2{color:#000;}
.pkpl{font-size:14px;color:#000; padding-left:20px;}
</style>


<div class="PKContent">
  <div class="pktitle"><a href="pk.asp?id={$GetPKID}">{$GetPKTitle}</a></div>
  <div class="clear"></div>
  <hr size=1 />
   <div class="pkpl"><strong>{$GDType}热门评论</strong>(共有:<font color="red">{$TotalPut}</font> 条) <span>所有评论仅代表网友意见，{$GetSiteName}保持中立</span></div>
   <div class="CommentList"> {$ShowCommentList}</div>
		<div class="page">{$ShowPage}    </div>
</div>
<div class="clear"></div>
{LB_底部通用}
</body>
</html>
