body
{
font-size: 9pt;
background-color: #FFFFFF;
MARGIN: 0px; 
COLOR: #434343; 
FONT-FAMILY: Arial, Helvetica, sans-serif, Verdana,宋体;
background-position:center;
text-decoration: none;
}
*{ margin:0; padding:0; font-family:"宋体",Arial; word-wrap:break-word; word-break:break-all;  }
h1,h2,h3,h4,h5,h6{ font-size:12px;}
img{ border:0;}
li{ list-style:none;}
.d_default {
	 color:#999999
}
.d_on {
	 color:#999999
}
.d_ok {
	PADDING-RIGHT: 0px; PADDING-LEFT: 24px; BACKGROUND: url(ok.gif) no-repeat 4px 50%; PADDING-BOTTOM: 2px;  PADDING-TOP: 2px; 
}
.d_err {
	color:#FFAA71;PADDING-RIGHT: 0px; PADDING-LEFT: 24px; BACKGROUND: url(error.gif)  no-repeat 4px 50%; PADDING-BOTTOM: 2px; PADDING-TOP: 2px;
}
/* 单元格TD的css定义:这里为总的表格定义，为一般表格的的单元格风格设置，可定义内容为背景、字体颜色、样式等 */
td
{font-family:宋体;font-size: 9pt;line-height: 150%;}
TABLE {
	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 20px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
SELECT {
	FONT-SIZE: 12px; COLOR: #333333; BACKGROUND-COLOR: #fbfbf4
}
INPUT {
	FONT-SIZE: 12px
}
.textarea {
	FONT-SIZE: 12px
}

a{font-size:12px;COLOR: #2c602f; TEXT-DECORATION: none
}
a:hover {COLOR: #f60; TEXT-DECORATION: underline}


A.teamname:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #ff6600; LINE-HEIGHT: 18px; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.teamname:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #666600; LINE-HEIGHT: 18px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
/***************************用户系统******************************************************/

div.RegLicense {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; OVERFLOW: auto; BORDER-LEFT: #666666 1px solid; WIDTH: 98%; COLOR: #000000; PADDING-TOP: 5px; BORDER-BOTTOM: #666666 1px solid; HEIGHT: 380px; BACKGROUND-COLOR: #ffffff;text-align:left
}

.Title
{ 
    background:#a5d9f0;
	height:25px;
    font-weight: bold;
}
.tdbg{
    background:#ffffff;
}
.tdbgmouseover{
    background:#ffffff;
}
.border
{
    border: 0px solid #efefef;background:#ffffff;
}
.textbox
{ border: 1px solid #a7a7a7;background:#ffffff;height:23px;line-height:23px;
  ryo:expression(onfocus=function(){this.style.backgroundColor='#EEF8FE'},onblur=function(){this.style.backgroundColor=''})
}
.Button{cursor: pointer;height:23px; border:1px solid #cccccc;background:url(button_bg.gif);}
.button_on { background:url(button_on.gif); height:23px;  border:1px solid #cccccc; cursor: pointer;}
.foot{margin:20px;}
/*导航菜单*/
.head{width:100%; background:url(top_bg.jpg) repeat-x; height:57px;}
#head{width:980px;margin:0px auto;}
.head  {
	COLOR: #2c602f
}
.head #head_right {
	display: inline;float: right;margin: 17px 30px 0px 0px; text-align:right;
}
.head #head_right li{float:left;}
.head #head_right img{padding-top:7px;}
.head #head_left {
	float:left;width:330px;height:50px;
}

/*===============注册表单=====================*/
/*密码强度*/
.regbox .rank { border:none; background:url(../../images/rank.gif) no-repeat; width:125px; height:22px; vertical-align:middle; cursor:default; }
.regbox .r0 { background-position:0 0; }
.regbox .r1 { background-position:0 -22px; }
.regbox .r2 { background-position:0 -44px; }
.regbox .r3 { background-position:0 -66px; }
.regbox .r4 { background-position:0 -88px; }
.regbox .r5 { background-position:0 -110px; }
.regbox .r6 { background-position:0 -132px; }
.regbox .r7 { background-position:0 -154px; }
#regmain{text-align:center;}
.regbox .st1{text-align:left;margin:20px;}
.regbox {padding:0px 20px 0px 20px;width:940px !important;width:980px;text-align:left;margin:0 auto; }
.regbox #regtop{height:1px;font-size:1px;background:url(../images/bj_top.jpg) no-repeat;}
.regbox #regbottom{height:12px;font-size:1px;background:url(../images/bj_bottom.jpg) no-repeat;}
.regbox #regcenter{padding-top:20px;padding-bottom:20px;border-left: 1px solid #037EC9;border-right: 1px solid #037EC9;}
.regbox dl { padding:.2em 0; margin:0}
.regbox dt{  height:30px;margin:0;width:20%; float:left; padding-right:2em;text-align:right; font-size:12px; }
.regbox dd{ width:25%; float:left;padding-right:2em; margin:0}
.regbox dd.Tips { width:44%;text-align:left;height:30px;padding-right:0; margin:0}
.regbox .cc{clear:both}
.regbox .input{height:22px;border:1px solid #ccc;width:200px;}
/*注册表单结束*/



.regtype {
	left: 120px;
	top: 115px;
	width: 320px;
	margin-bottom: 0px;
	z-index: 100;
	position: absolute;
	background: #E8F8E3;
	border: 1px #B5E580 solid;
	height:300px;
	overflow-x:no;
	overflow-y:auto;
	text-align:center
}
.red{color:red}
.splittd{border-bottom:1px solid #efefef;}
.tdbg td{border-bottom:1px solid #efefef;}
.t_head{background:#a5d9f0;height:25px;line-height:25px;font-weight:bold;padding-left:10px;}
/*======新增样式=====*/
  .contenttitle{font-size:14px;color:#6699CC;font-weight:bold}
  .contenttitle a{font-size:14px;}
  .contenttitle a:link{color:#006699;text-decoration:underline}
  .contenttitle a:visited{;color:#006699;text-decoration:underline}
  .contenttitle a:hover{color:#6699CC;text-decoration:underline}
  .Contenttips span{color:#999999}
  .Contenttips span a:link{color:#999999}
  .Contenttips span a:visited{color:#999999}
  .Contenttips span a:hover{color:#ff6600}
  a.box{height:23px;border:1px solid #a5d9f0;padding:3px}
  a.box:link{color:#2c602f;text-decoration:none}
  a.box:visited{color:#2c602f;text-decoration:none}
  a.box:hover{color:#2c602f;text-decoration:none}
/* TABS模块 */
.tbox{border:#a5d9f0 1px solid;padding-bottom:10px;}

.tabs{margin-top:10px; margin-bottom:5px; background:#a5d9f0 ;border:1px solid #6fbce2;height:28px;}
.tabs ul{ margin-top:3px;margin-left:10px; display:inline; float:left; position:relative; bottom:-1px;}
.tabs li{  line-height:26px; color:#2C602F; padding:0 10px; background:#a5d9f0 ; cursor:pointer; float:left;}
.tabs li a{font-size:14px;font-weight:bold}
.tabs li.select{ background:#fff; cursor:auto;}

/*下拉定位*/
.rl{position:relative;_margin-top:5px}
.abs{border:#a5d9f0 1px solid;text-align:center;z-index:999;position:absolute;top:15px;white-space : nowrap; margin:0 ;background:#ecf9ff;display:none;left:0px;margin-top:-5px;}
.abs dl{background:url(images/bullet_go.png) no-repeat 2px;text-align:left;margin:0px;padding-left:17px;height:25px;line-height:25px;border-bottom:1px solid #fff;}

.clear{clear:both}

/*通用分页样式*/
#fenye{clear:both;}
#fenye a{text-decoration:none}
#fenye .prev,#fenye .next{width:52px; text-align:center;}
#fenye a.curr{padding-left:5px;padding-right:5px;overflow:hidden;background:#1f3a87; border:1px solid #dcdddd; color:#fff; font-weight:bold; text-align:center;}
#fenye a.curr:visited {color:#fff;}
#fenye a{margin:5px 4px 0 0; color:#1E50A2;background:#fff; display:inline-table; border:1px solid #dcdddd; float:left; text-align:center;height:22px;line-height:22px}
#fenye a.num{width:22px;}
#fenye a:visited{color:#1f3a87;} 
#fenye a:hover{color:#fff; background:#1E50A2; border:1px solid #1E50A2;float:left;}
#fenye span{display:block;margin:10px}


/*6.5会员中心样式*/
td,input,button,select,body {font-family:"lucida Grande",Verdana;font-size:12px;}
div,ul,li{ padding:0px; margin:0px;}
.topline_height,.topline {height:11px;overflow:hidden;}
.maincontent {margin-left:192px;*margin-left:103px;margin-right:0;*margin-right:2px;height:100%;}
.leftcontent {float:left;width:188px;overflow:hidden;height:100%;}
.fdbody {height:100%;}
.topbg {float:right;width:486px;height:66px;}
.lgoo {position:absolute;z-index:1;}
.topdata {height:66px;}
.imglogo {display:block;float:left;}
.switch {display:block;float:left;margin:12px 0 0 40px;line-height:23px;}
.switch li{float:left;display:block;}
.setinfo {height:23px;margin:6px 8px 0 0;*margin:8px 8px 0 0;text-align:right;}
.toplineimg {width:184px;height:22px;}
li.fs,li.fn,li.f_calender {height:23px;line-height:23px;padding-left:13px;padding-right:2px;margin:0 5px 3px;}
.leftpanel {margin:0 0 14px 0;padding:0;list-style:none;}
.search_subject {position:absolute;z-index:11;right:0;margin-top:10px;*margin-top:8px;padding:0 6px 0 0;width:284px;height:22px;}
.search_subject div.addrtitle {float:right;position:relative;z-index:1;margin:4px -2px 0 0;}
.newskinbody li.fs, .newskinbody li.fn {font-size:14px;padding-left:0;padding-right:0;}
.newskinbody li.fs a, .newskinbody li.fn a {font-size:14px;display:block;height:22px;overflow:hidden;padding-left:13px;}
.fss{padding-left:13px;height:26px;}
.fss a{color:#006699;font-size:14px}
li.fs a.fdleft,li.fs a.fdleft:link,li.fs a.fdleft:visited,li.fs a.fdleft:active,li.fd_mg a.fdleft,li.fd_mg a.fdleft:link,li.fd_mg a.fdleft:visited,li.fd_mg a.fdleft:active {color:#006699;}
li.fs a.fdleft:hover,li.fd_mg a.fdleft:hover {color:#fff;}
.topdata,.topdata a,.topdata a:link,.topdata a:visited,a.onlineman{color:#006699}
.newskinbody li.fs a:hover, .newskinbody li.fs_sep a:hover {background:#fff url(go.gif) no-repeat right;border:#555 1px solid;text-decoration:none;}
/********* New Skin **********/
.frame_class {padding:0;}
.getuserdata {background:url(top_bg.jpg) repeat-x}
.topdata {background:url(top_data.gif) no-repeat;}
.topline {background:url(topline_bg.gif) repeat-x;}
.toplineimg {background:url(topline.gif) no-repeat;width:197px;height:11px;}
.leftcontent {width:192px;}
.maincontent {margin-left:195px;}
.newskinbody {background:url(left_normal_bg.jpg) no-repeat;padding-left:8px;}
.fdbody {background:url(left_bottom_bg.jpg) #96cce4 0 596px;}
.readmailinfo .fdbody {background-image:none}
/***********导航栏文件夹文字的颜色***************/
li.fs a:link,li.fs a:visited,li.fd_mg a:link,li.fd_mg a:visited {color:#000;}
li.fn a:link,li.fn a:visited {color:#ffffff;}

/********************左边导航文字***************************/
.mem_left_top{}
.mem_left_photo{width:53px;_width:58px;height:53px; float:left;border:3px #ffffff solid;}
.mem_left_photo img{width:53px;height:53px;_width:58px}
.mem_left_name{width:120px;float:right;text-align:left;padding-left:4px;}
.mem_left_name li{list-style-type:none; line-height:24px;}
.mem_left_ad{font-weight:bold;color:red; height:38px;line-height:38px;}									
									
