<wml>
<head>
<meta http-equiv="Cache-Control" content="no-Cache"/>
<meta http-equiv="Cache-Control" content="max-age=0"/>
</head>
<card id="main" title="{$GetSiteName}">
<p>
{$GetSiteLogo}<br />
{$GetWenhouyu(夜里好!注意身体，别太晚了。,早上好!昨晚休息得好吗？,上午好!又是一个阳光灿烂的日子。,中午好!吃过午饭了吗？,外面太阳大吗？,下午好!可别打瞌睡哦。,傍晚好!今天的工作完成了吗？,晚上好!现在的速率还行吧。)}<br />
{$GetUserLogin}<br />
<a href="http://wap.kesion.com/">WAPCMS专业提供商</a><br />
【精品栏目】<br />
{$GetIndexChannel(2,<img src="images/Arrow_2.gif" />)}<br/>
【搜索栏目】<br/>
{$GetSearch} 
<br/>
Tags:{=GetTags(1,4)}<br/>
{=GetAdvertise(3,1)}
{=GetAdvertise(3,2)}
【最新文章】<br/>
{$GetIndexList(1,-1,1,[ClassName][AutoID].,<img src="images/New_1.gif"  alt="小图标"/><br/>,5,30)}
【最新话题】<br/>
{$GetClubList(0,1,·,<br/>,5,30)}
【最新博文】<br/>
{$GetLogList(0,1,·,<br/>,5,30)}
================<br/>
<a href="club/?{$WapValue}">社区</a> <a href="space/?{$WapValue}">博客</a>

{=GetTemplate(20086533278528,会员排行)}
{=GetTemplate(20087933017821,声明)}
{=GetTemplate(20085588582626,统计)}<br/>
{=GetTemplate(20083276866743,帮助)}
{=GetTemplate(20084272419479,联系)}
<br/>
{$GetCopyRight}<br/>
{$GetPourAccount(离2010年上海世博会还有:,2010-5-1)}<br/>
总在线:{$GetOnlineTotal} 用户:{$GetOnlineUser}<br/>
{=GetVote(16)}
</p>
</card>
</wml>