<style type="text/css">
<!--
body {BACKGROUND: url(skin/01/bgground.jpg);
	margin:0px;
	font-size: 9pt;
	COLOR: #666666; 
	FONT-FAMILY: Arial, Helvetica, sans-serif, Verdana,宋体;
	background-position:center;
	text-decoration: none;	
}
td{font-size:12px;}
.spacelist{font-size:14px;font-weight:bold;color:#666666;padding-top:60px}

/* 网站链接总的css定义:可定义内容为链接字体颜色、样式等 */
a{text-decoration: none;}   /* 链接无下划线,有为underline */ 
a:link {color: #666666;}    /* 未访问的链接 */
a:visited {color: #666666;} /* 已访问的链接 */
a:hover{color: #ff0000;}   /* 鼠标在链接上 */ 
a:active {color: #666666;}  /* 点击激活链接 */
-->
</style>
</head>
<body>
<table width="860" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="860" valign="top" background="skin/01/bgground.jpg">
	<table width="860" height="172" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="860" height="252" valign="top" background="skin/01/banner.jpg">
		<div style="margin-top:30px;color:#F8398D;font-size:large;font-weight:bolder;padding-left:65px">{$ShowBlogName}</div>
         <img src="skin/01/fly.gif">
          <div style="margin-top:57px;font-size:14px;font-weight:bold;color:#003366;padding-left:42px">{$ShowNavigation}</div>
          </td>
      </tr>
      
      
    </table>
      <table width="860" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <th background="skin/01/commentbg.gif"><table width="820" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td valign="top" bgcolor="#FEFEFE" style="padding-top:8px;padding-left:8px">
{$BlogMain} 
</td>
              <td width="8">&nbsp;</td>
              <td width="200" valign="top"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td width="31"><img src="skin/01/d391.gif" width="31" height="40" /></td>
                                <td align="left" valign="bottom" background="skin/01/9d791.gif"><span class="spacelist">个人档案</span></td>
                                <td width="31"><img src="skin/01/2b91.gif" width="31" height="40" /></td>
                              </tr>
                          </table></td>
                        </tr>
                        <tr>
                          <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td colspan="3" valign="top" bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0"   style="border-left:#BBBBBB 1px solid;border-right:#BBBBBB 1px solid;">
                                    <tr>
                                      <td valign="middle" bgcolor="#FAFAFA">{$ShowUserInfo}</td>
                                    </tr>
                                    
                                </table></td>
                              </tr>
                              <tr>
                                <td width="30" height="20" valign="top"><img src="skin/01/2aa2.gif" width="30" height="20" /></td>
                                <td width="150" height="20" valign="top" background="skin/01/2991.gif"></td>
                                <td width="31" valign="top"><img src="skin/01/2d91.gif" width="31" height="20" /></td>
                              </tr>
                          </table></td>
                        </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td width="31"><img src="skin/01/d391.gif" width="31" height="40" /></td>
                                <td align="left" valign="bottom" background="skin/01/9d791.gif"><span class="spacelist">高级日历</span></td>
                                <td width="31"><img src="skin/01/2b91.gif" width="31" height="40" /></td>
                              </tr>
                          </table></td>
                        </tr>
                        <tr>
                          <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td colspan="3" valign="top" bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0"   style="border-left:#BBBBBB 1px solid;border-right:#BBBBBB 1px solid;">
                                    <tr>
                                      <td bgcolor="#FAFAFA">{$ShowCalendar}</td>
                                    </tr>
                                </table></td>
                              </tr>
                              <tr>
                                <td width="30" height="20" valign="top"><img src="skin/01/2aa2.gif" width="30" height="20" /></td>
                                <td width="150" height="20" valign="top" background="skin/01/2991.gif"></td>
                                <td valign="top"><img src="skin/01/2d91.gif" width="31" height="20" /></td>
                              </tr>
                          </table></td>
                        </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td width="31"><img src="skin/01/d391.gif" width="31" height="40" /></td>
                                <td align="left" valign="bottom" background="skin/01/9d791.gif"><span class="spacelist">在线音乐</span></td>
                                <td width="31"><img src="skin/01/2b91.gif" width="31" height="40" /></td>
                              </tr>
                          </table></td>
                        </tr>
                        <tr>
                          <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td colspan="3" valign="top" bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0"   style="border-left:#BBBBBB 1px solid;border-right:#BBBBBB 1px solid;">
                                    <tr>
                                      <td valign="top" bgcolor="#FAFAFA">{$ShowMusicBox}</td>
                                    </tr>
                                    
                                </table></td>
                              </tr>
                              <tr>
                                <td width="30" height="20" valign="top"><img src="skin/01/2aa2.gif" width="30" height="20" /></td>
                                <td width="150" height="20" valign="top" background="skin/01/2991.gif"></td>
                                <td width="31" valign="top"><img src="skin/01/2d91.gif" width="31" height="20" /></td>
                              </tr>
                          </table></td>
                        </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td width="31"><img src="skin/01/d391.gif" width="31" height="40" /></td>
                                <td align="left" valign="bottom" background="skin/01/9d791.gif"><span class="spacelist">空间统计</span></td>
                                <td width="31"><img src="skin/01/2b91.gif" width="31" height="40" /></td>
                              </tr>
                          </table></td>
                        </tr>
                        <tr>
                          <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td colspan="3" valign="top" bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0"   style="border-left:#BBBBBB 1px solid;border-right:#BBBBBB 1px solid;">
                                    <tr>
                                      <td style="padding:10px">{$ShowBlogTotal}</td>
                                    </tr>
                                </table></td>
                              </tr>
                              <tr>
                                <td width="30" height="20" valign="top"><img src="skin/01/2aa2.gif" width="30" height="20" /></td>
                                <td width="150" height="20" valign="top" background="skin/01/2991.gif"></td>
                                <td width="31" valign="top"><img src="skin/01/2d91.gif" width="31" height="20" /></td>
                              </tr>
                          </table></td>
                        </tr>
                    </table></td>
                  </tr>
                  
              </table></td>
            </tr>
          </table></th>
        </tr>
      </table>
      <table width="860" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <th height="160" background="skin/01/botbg.jpg">科兴信息技术有限公司版权所有</th>
        </tr>
      </table>
     </td>
  </tr>
</table>
</body>