<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{$GetSiteName}-{$ShowCompanyName}</title>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<link href="{$GetInstallDir}images/index.css" type=text/css rel=stylesheet>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 
</head>
<body>
<div id="topdiv">
   <div id="topper">
	<div id="datediv"><img src="{$GetInstallDir}images/taiyang.gif" align="absmiddle">今天是：{$JS_Time2}</div>
	<div id="icon01"><img src="{$GetInstallDir}images/m_list_49.gif" align="absmiddle"></div>
	<div id="logondiv">{$GetTopUserLogin}</div>
	<div id="makehome"><img src="{$GetInstallDir}images/home.gif" align="absmiddle">{$JS_HomePage} <img src="{$GetInstallDir}images/email.gif" align="absmiddle"> {$JS_Collection} <img src="{$GetInstallDir}images/ic_chan.gif" align="absmiddle"> {$JS_Language}</div>
	<div class="clear"></div>
	</div>
</div>

	<div class="header">
	  <div class="head">
		<div class="logo"><img src="{$GetInstallDir}images/logo.jpg"></div>
		<div class="header_right">
		  <ul>
			<li width="80"><img src="{$GetInstallDir}Images/icon_01.gif" /></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_02.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_03.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_04.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_05.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_06.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_07.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_08.gif"/></li>
		  </ul>
		  <div class="clear"></div>
		  <ul>
			<li><a href="{$GetInstallDir}User/index.asp">会员中心</a></li>
			<li><a href="{$GetInstallDir}company">企业黄页</a></li>
			<li><a href="{$GetInstallDir}music">音乐系统</a></li>
			<li><a href="{$GetInstallDir}shop/GroupBuy.asp">团购报名</a></li>
			<li><a href="{$GetInstallDir}club/index.asp">互动交流</a></li>
			<li><a href="{$GetInstallDir}User/?User_ScoreExchange.asp">积分兑换</a></li>
			<li><a href="{$GetInstallDir}product">产 品 库</a></li>
			<li><a href="{$GetInstallDir}space">个人门户</a></li>
		  </ul>
		</div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="menu">
		<div class="nav">
			<ul>
				<li><a class=blue-bg href="{$GetInstallDir}">网站首页</a> </li>
				{LB_频道导航}
			</ul>
		</div>
	</div>
	<div class="sea">
		<div class="search">
			<div class="sea_l">{$GetSearch}</div>
			<div class="sea_r">{=GetTags(1,8)}</div>
		</div>
	</div>
<div class="clear"></div>
<!-- 顶部结束 -->

<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="600" valign="top" bgcolor="#FFFFFF">
	<table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top:8px">
      <tr>
        <td valign="top">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
          
          <tr>
            <td><table width="100%" border="0" align="left" cellpadding="0" cellspacing="0" style="border:#7DABD5 1px solid;margin-top:8px">
              <tr>
                <td height="660" colspan="2" align="left" valign="top" class="pd">
				<table width="96%" border="0" align="center" cellpadding="0" style="border:1px solid #cccccc" cellspacing="0">
                  <tr>
                    <td height="28" bgcolor="#efefef" style="border-bottom:1px solid #cccccc;font-weight:bold;font-size:14px;padding-left:3px">{$ShowCompanyName}</td>
                  </tr>
                  
                </table>
                  <br>
                  <table width="96%" border="0" align="center" cellpadding="0" style="border:1px solid #cccccc" cellspacing="0">
                    <tr>
                      <td height="28" bgcolor="#efefef" style="border-bottom:1px solid #cccccc;font-weight:bold;font-size:14px;padding-left:3px">公司介绍</td>
                    </tr>
                    <tr>
                      <td>{$ShowCompanyIntro} </td>
                    </tr>
                  </table>
                  <br>
                  <table width="96%" border="0" align="center" cellpadding="0" style="border:1px solid #cccccc" cellspacing="0">
                    <tr>
                      <td height="28" bgcolor="#efefef" style="border-bottom:1px solid #cccccc;font-weight:bold;font-size:14px;padding-left:3px">公司信息</td>
                    </tr>
                    <tr>
                      <td><br>
                        <table width="760" border="0" align="center" cellpadding="1" cellspacing="1">
                        <tr>
                          <td width="90" height="24" bgcolor="#F2F2F2"><div align="right"><STRONG>公司行业：</STRONG></div></td>
                          <td width="258">{$ShowIndustry}</td>
                          <td width="81" bgcolor="#F2F2F2"><div align="right"><strong>企业法人：</strong></div></td>
                          <td width="288">{$ShowLegalPeople}</td>
                        </tr>
                        <tr>
                          <td height="24" bgcolor="#F2F2F2"><div align="right"><strong>公司规模：</strong></div></td>
                          <td>{$ShowCompanyScale}</td>
                          <td bgcolor="#F2F2F2"><div align="right"><strong>注册资金：</strong></div></td>
                          <td>{$ShowRegisteredCapital}</td>
                        </tr>
                        <tr>
                          <td height="24" bgcolor="#F2F2F2"><div align="right"><strong>所在地区：</strong></div></td>
                          <td>{$ShowProvince}{$ShowCity}</td>
                          <td bgcolor="#F2F2F2"><div align="right"><strong>联系人：</strong></div></td>
                          <td>{$ShowContactMan}</td>
                        </tr>
                        <tr>
                          <td height="24" bgcolor="#F2F2F2"><div align="right"><strong>公司地址：</strong></div></td>
                          <td>{$ShowAddress}</td>
                          <td bgcolor="#F2F2F2"><div align="right"><strong>邮政编码：</strong></div></td>
                          <td>{$ShowZipCode}</td>
                        </tr>
                        <tr>
                          <td height="24" bgcolor="#F2F2F2"><div align="right"><strong>联系电话：</strong></div></td>
                          <td>{$ShowTelphone}</td>
                          <td bgcolor="#F2F2F2"><div align="right"><strong>传真号码：</strong></div></td>
                          <td>{$ShowFax}</td>
                        </tr>
                        <tr>
                          <td height="24" bgcolor="#F2F2F2"><div align="right"><strong>开户银行：</strong></div></td>
                          <td>{$ShowBankAccount}</td>
                          <td bgcolor="#F2F2F2"><div align="right"><strong>银行账号真：</strong></div></td>
                          <td>{$ShowAccountNumber}</td>
                        </tr>
                        <tr>
                          <td height="24" bgcolor="#F2F2F2"><div align="right"><strong>公司网址：</strong></div></td>
                          <td>{$ShowWebSite}</td>
                          <td bgcolor="#F2F2F2">&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                      </table>
                          <br></td>
                    </tr>
                  </table>
                  <br>
                  <table width="96%" border="0" align="center" cellpadding="0" style="border:1px solid #cccccc" cellspacing="0">
                    <tr>
                      <td height="28" bgcolor="#efefef" style="border-bottom:1px solid #cccccc;font-weight:bold;font-size:14px;padding-left:3px">供求信息</td>
                    </tr>
                    <tr>
                      <td>{$ShowCompanySupply} </td>
                    </tr>
                  </table>
                  <br>
                  <br>
                  <br>
                  <table width="424"  border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#FD7200">
                    <tr>
                      <td valign="top" bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td height="34"  style="padding-left:10px;font-size:16px">{$ShowCompanyName}</td>
                          </tr>
                          <tr>
                            <td height="27" bgcolor="#FF6600"  style="padding-left:20px;font-size:16px;color:#FFFFFF">企业名片</td>
                          </tr>
                          <tr>
                            <td height="10"></td>
                          </tr>
                        </table>
                          <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="68%" valign="top"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td width="20%" height="20" align="right">电　　话：</td>
                                    <td width="80%">{$ShowTelphone}</td>
                                    </tr>
                                  
                                  <tr>
                                    <td height="20" align="right">传　　真：</td>
                                    <td>{$ShowFax}</td>
                                  </tr>
                                  <tr>
                                    <td height="20" align="right">地　　址：</td>
                                    <td>{$ShowAddress}</td>
                                  </tr>
                                  <tr>
                                    <td height="20" align="right">邮　　编：</td>
                                    <td>{$ShowZipCode}</td>
                                  </tr>
                                  <tr>
                                    <td height="20" align="right">联 系 人：</td>
                                    <td>{$ShowContactMan}</td>
                                  </tr>
                                  <tr>
                                    <td height="26" align="right">公司主页：</td>
                                    <td>{$ShowWebSite}</td>
                                  </tr>
                              </table></td>
                            </tr>
                        </table></td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
        </tr>
    </table>
	 </td>
  </tr>
</table>
<div class="clear"></div>
{LB_底部通用}
</body>
</html>