<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml">
<HEAD>
<TITLE>商品比较</TITLE>
<META http-equiv=Content-Type content="text/html; charset=utf-8">
<META content="最专业的行业门户管理系统" name=keywords>
<META content="最专业的行业门户管理系统" name=description>
<link href="{$GetInstallDir}images/index.css" type=text/css rel=stylesheet>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 
<script src="{$GetInstallDir}ks_inc/msclass.js"></script>

<script type="text/javascript">
function checkSelect()
    {
	    var chkArr = document.getElementsByName("chk");
	    var productIds = '';
	    if (chkArr.length > 0)
	    {
		    for ( i = 0 ; i < chkArr.length  ; i ++)
		    {
			    if (chkArr[i].checked) 
			    { productIds += chkArr[i].value + ",";}
		    }
	    }

	    productIds = productIds.substring(0,productIds.length-1);
	    productId = productIds.split(",");
	    if(productId.length <2)
	    {
	        alert("请至少选择两条产品信息进行比较！");
	        return false;
	    }
	    if(productId.length >5)
	    {
	        alert("只能选择五条产品信息进行比较！");
	        return false;
	    }
	    var url = "Compare.asp?Ids="+productIds;
	    window.open(url,"CompareProduct");
    }
</script>
<body>

<div id="topdiv">
   <div id="topper">
	<div id="datediv"><img src="{$GetInstallDir}images/taiyang.gif" align="absmiddle">今天是：{$JS_Time2}</div>
	<div id="icon01"><img src="{$GetInstallDir}images/m_list_49.gif" align="absmiddle"></div>
	<div id="logondiv">{$GetTopUserLogin}</div>
	<div id="makehome"><img src="{$GetInstallDir}images/home.gif" align="absmiddle">{$JS_HomePage} <img src="{$GetInstallDir}images/email.gif" align="absmiddle"> {$JS_Collection} <img src="{$GetInstallDir}images/ic_chan.gif" align="absmiddle"> {$JS_Language}</div>
	<div class="clear"></div>
	</div>
</div>

	<div class="header">
	  <div class="head">
		<div class="logo"><img src="{$GetInstallDir}images/logo.jpg"></div>
		<div class="header_right">
		  <ul>
			<li width="80"><img src="{$GetInstallDir}Images/icon_01.gif" /></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_02.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_03.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_04.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_05.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_06.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_07.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_08.gif"/></li>
		  </ul>
		  <div class="clear"></div>
		  <ul>
			<li><a href="{$GetInstallDir}User/index.asp">会员中心</a></li>
			<li><a href="{$GetInstallDir}company">企业黄页</a></li>
			<li><a href="{$GetInstallDir}music">音乐系统</a></li>
			<li><a href="{$GetInstallDir}shop/GroupBuy.asp">团购报名</a></li>
			<li><a href="{$GetInstallDir}club/index.asp">互动交流</a></li>
			<li><a href="{$GetInstallDir}User/?User_ScoreExchange.asp">积分兑换</a></li>
			<li><a href="{$GetInstallDir}product">产 品 库</a></li>
			<li><a href="{$GetInstallDir}space">个人门户</a></li>
		  </ul>
		</div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="menu">
		<div class="nav">
			<ul>
				<li><a class=blue-bg href="{$GetInstallDir}">网站首页</a> </li>
				{LB_频道导航}
			</ul>
		</div>
	</div>
	<div class="sea">
		<div class="search">
			<div class="sea_l">{$GetSearch}</div>
			<div class="sea_r">{=GetTags(1,8)}</div>
		</div>
	</div>
<div class="clear"></div>
<!-- 顶部结束 -->


<table width="950" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
   <td style="padding:5px;color:#999999">
   前言:在这个高科技迅速发展的时代,各种产品的更新是月新日异,产品之间的竞争也是越来越激烈,网友们是否会因为面对同档次的产品而无从下手?到底哪款产品才是最适合自己呢?为此,我们推出了产品比较功能,只要轻松的几个步骤就能得出心仪产品的比较结果,让大家在比较中选出最适合自己的产品,那么现在我们马上开始第一步吧
   </td>
  </tr>
  <tr>
    <td align="left" valign="top" bgcolor="#FFFFFF">
        {$ShowCompareList}
		
	 </td>
  </tr>
</table>
<div class="clear"></div>
{LB_底部通用}
</body>
</html>