
<html>
<head><title>{$GetSiteName}-成功注册</title>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<link href="../images/css.css" type=text/css rel=stylesheet>
<script src="../../ks_inc/jquery.js" type="text/javaScript"></script>
<style type="text/css">
.st{background:url(/user/images/step.gif) no-repeat 0 -121px;height:61px;width:940px;margin-top:20px;margin-bottom:20px}
</style>
</head>
<body>

<!-- head begin -->
<div class="head">
  <div id="head">
  <div id="head_left"><a href="http://www.kesion.com"><img alt="kesioncms" src="../images/logo.jpg" /></a></div>
  <div id="head_right">
	  <li><a href="{$GetInstallDir}">首页</a>┊</li>
	  <li><a href="../login" target="main">登录</a>┊</li>
	  <li><a href="http://bbs.kesion.com" target="main">帮助</a></li>
   
  </div>
  </div>
</div>
<!-- head end -->


 <div id="regmain">
			<div class="regbox">
                 <div class="st"></div>
			     <div id="regtop"></div>
				 <div id="regcenter">
						 
						 
				        {$GetUserRegResult}
                    
		           </div>
				  <div id="regbottom"></div>
		 </div>

			
	 <div class="foot"> <p style="color:#999999;text-align:center">
   北信艺术工坊版权所有 2006-2010</div>
	</div>
         
</body>
</html>





