<html>
<head><title>{$GetSiteName}-新会员注册</title>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<link href="../images/css.css" type=text/css rel=stylesheet>
<script src="../../ks_Inc/CheckPassWord.js" type="text/javaScript"></script>
<script src="../../ks_inc/jquery.js" type="text/javaScript"></script>
<script src="../../ks_inc/kesion.box.js" type="text/javaScript"></script>
<script src="../../ks_inc/kesion.regcheck.js" type="text/javaScript"></script>
<script language="javascript">
var minlen={$Show_UserNameLimitChar};
var maxlen={$Show_UserNameMaxChar};
var question={$Show_Question};
var mobile={$Show_Mobile};
</script>
<style type="text/css">
.st{background:url(/user/images/step.gif) no-repeat;height:61px;width:940px;margin-top:20px;margin-bottom:20px}
</style>
</head>
<body>


<!-- head begin -->
<div class="head">
  <div id="head">
  <div id="head_left"><a href="http://www.kesion.com"><img alt="kesioncms" src="../images/logo.jpg" /></a></div>
  <div id="head_right">
	  <li><a href="{$GetSiteUrl}">首页</a>┊</li><li><a href="{$GetSiteUrl}user/?user_Contributor.asp">匿名投稿</a>┊</li><li><a href="../login" target="main">登录</a>┊</li><li><a href="http://bbs.kesion.com" target="main">帮助</a></li>
   
  </div>
  </div>
</div>
<!-- head end -->


 <div id="regmain">
             <form name="myform" onSubmit="return CheckForm();" action="{$ShowAction}" method="post">
			<div class="regbox">
                 <div class="st"></div>
			     <div id="regtop"></div>
				 <div id="regcenter">
						 <div class="st1">如果您已经是会员请<a href="../login/" target="_blank">登录</a>,(带<font color="red">*</font>号的必须填写)</div>
						 
				         <dl class="cc"{$DisplayUserType}>
								<dt>注册类型：</dt>
								<dd>{$ShowUserType}</dd>		
						 </dl>
				         <dl class="cc">
								<dt>会员名称：<font color="red">*</font></dt>
								<dd>
									<input name="UserName" class="input" maxlength="30" id="UserName" type="text" onBlur="out_username();" onKeyUp="out_username();" onFocus="on_input('usernamemsg');"{$UserName}> 
								</dd>
								<dd class="tips"><span class="d_err" id="usernamemsg"></span></dd>
						 </dl>
						 
						 <dl class="cc">
								<dt>推 荐 人：</dt>
								<dd>
									<input name="AllianceUser" class="input" id="AllianceUser" {$AllianceUser} type="text"> 
									<input type="hidden" name="f" id="f"{$Friend}>
								</dd>
								<dd class="tips">请输入推荐您加盟的会员名称</dd>
						 </dl>
						 <dl class="cc">
								<dt>用户密码：<font color="red">*</font></dt>
								<dd>
									<input id=upwd name="PassWord" class="input" type="PassWord" style="font-FAMILY: verdana;" onBlur="out_password1();setPasswordLevel(this, document.getElementById('passwordLevel'));"  onKeyUp="setPasswordLevel(this, document.getElementById('passwordLevel'));">
								</dd>
								<dd class="tips"><span id="passwordmsg1" class="d_default"></span></dd>
						 </dl>
						
						<dl class="cc">
								<dt>密码强度：</dt>
								<dd>
									<input name="Input" disabled="disabled" class="rank r0" id="passwordLevel" />
								</dd>
						 </dl>
						 
						 <dl class="cc">
								<dt>确认密码：<font color="red">*</font></dt>
								<dd>
									<input name="RePassWord" class="input" onFocus="on_input('passwordmsg2');" onBlur="out_password2();" type="PassWord" style="font-FAMILY: verdana;">
								</dd>
								<dd class="tips"><span id="passwordmsg2" class="d_default"></span></dd>
						 </dl>
						 
						 <div{$DisplayQestion}>
							  <dl class="cc">
									<dt>提示问题：<font color="red">*</font></dt>
									<dd>
										<Select id="Question" style="width:200px" onBlur="out_question()" onChange="out_question()" name="Question">
										<Option value="" selected>--请您选择--</Option>
										<Option value="我的宠物名字？">我的宠物名字？</Option>
										<Option value="我最好的朋友是谁？">我最好的朋友是谁？</Option>
										<Option value="我最喜爱的颜色？">我最喜爱的颜色？</Option>
										<Option value="我最喜爱的电影？">我最喜爱的电影？</Option>
										<Option value="我最喜爱的影星？">我最喜爱的影星？</Option>
										<Option value="我最喜爱的歌曲？">我最喜爱的歌曲？</Option>
										<Option value="我最喜爱的食物？">我最喜爱的食物？</Option>
										<Option value="我最大的爱好？">我最大的爱好？</Option>
										<Option value="我中学校名全称是什么？">我中学校名全称是什么？</Option>
										<Option value="我的座右铭是？">我的座右铭是？</Option>
										<Option value="我最喜欢的小说的名字？">我最喜欢的小说的名字？</Option>
										<Option value="我最喜欢的卡通人物名字？">我最喜欢的卡通人物名字？</Option>
										<Option value="我母亲/父亲的生日？">我母亲/父亲的生日？</Option>
										<Option value="我最欣赏的一位名人的名字？">我最欣赏的一位名人的名字？</Option>
										<Option value="我最喜欢的运动队全称？">我最喜欢的运动队全称？</Option>
										<Option value="我最喜欢的一句影视台词？">我最喜欢的一句影视台词？</Option>
									  </Select> 
									</dd>
									<dd class="tips"><span id="questionmsg" class="d_default"></span></dd>
							    </dl>
								<dl class="cc">
									<dt>提示答案：<font color="red">*</font></dt>
									<dd>
										<input name="Answer" onBlur="out_answer();" onFocus="on_input('answermsg');" type="text" id="Answer" class="input">
									</dd>
									<dd class="tips"><span id="answermsg" class="d_default"></span></dd>
						       </dl>
						     </div>
							 <div{$DisplayMobile}>
							  <dl class="cc">
									<dt>手机号码：<font color="red">*</font></dt>
									<dd>
										<input name="Mobile"  onblur="out_mobile();" onFocus="on_input('mobilemsg');" type="text" id="Mobile" class="input">
									</dd>
									<dd class="tips"><span id="mobilemsg" class="d_default"></span></dd>
						       </dl>
							 </div>
							 
							 <dl class="cc">
								<dt>邮箱地址：<font color="red">*</font></dt>
								<dd>
									<input name="Email" id="Email" class="input" onFocus="on_input('emailmsg');" onkeyup='out_email();' type="text">
								</dd>
								<dd class="tips"><span id="emailmsg" class="d_default"></span></dd>
						    </dl> 
							
							<div{$DisplayRegQuestion}>
							  <dl class="cc">
									<dt>请回答注册问题：<font color="red">*</font></dt>
									<dd>
										<font color="red">{$RegQuestion}</font>
									</dd>
						       </dl>
							  <dl class="cc">
									<dt>您的回答是：<font color="red">*</font></dt>
									<dd>
										<input name="a{$AnswerRnd}" id="a{$AnswerRnd}" class="input" onFocus="on_input('reganswermsg');" type="text">
										<dd class="tips"><span id="reganswermsg" class="d_default"></span></dd>
									</dd>
						       </dl>
							 </div>
							
							<dl class="cc"{$Show_VerifyCodeTF}>
								<dt>验 证 码：<font color="red">*</font></dt>
								<dd>
									<input onKeyUp="out_chkcode();" onBlur="out_chkcode();" onFocus="this.value='';getCode();on_input('chkcodemsg');" name="Verifycode" type="text" id="Verifycode" class="input" style="width:60px" maxlength="6">
									<span id="showVerify"></span>  
								</dd>
								<dd class="tips"><span id="chkcodemsg" class="d_default"></span></dd>
						    </dl> 
						 
				  
					   <div style="clear:both;padding-left:30px"> 
						  <label><input name="viewlicense" id="viewlicense" type="checkbox" onClick="getlicense()" value="1">我已阅读并完全接受服务条款</label>&nbsp;&nbsp;&nbsp;
						  <input type="image" src="../images/reg.jpg" alt="注册" align="middle" border="0"></div>
					
					  <div id="license" style="margin-top:20px;text-align:center;display:none">
						 <div style="text-align:left;FONT-SIZE: 14px;font-size:bold;color:ff0000"><img height="30" src="{$GetInstallDir}user/images/Reg04_03.jpg" width="37" border="0" alt="" />阅读服务条款</div>
						 <div><textarea name='reg1' cols=60 rows=25 style="width:98%;height:150px;">{$GetUserRegLicense}</textarea></div>
					  </div>
		           </div>
				  <div id="regbottom"></div>
	           </form>
		 </div>

			
	 <div class="foot"> <p style="color:#999999;text-align:center">
   北信艺术工坊版权所有 2006-2010</div>
	</div>
         
</body>
</html>