<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{$GetSiteTitle}-发布新帖</title>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<link href="{$GetInstallDir}images/index.css" type=text/css rel=stylesheet>
<script src="/ks_inc/jquery.js"></script>
<script src="/ks_inc/kesion.box.js"></script>
<script type="text/javascript">
	function ShowLogin()
	{ 
		 popupIframe('会员登录','{$GetSiteUrl}user/userlogin.asp?Action=Poplogin',397,184,'no');
	}
				
	function checkform()
	{  
			if (myform.Subject.value==""){
				alert("主题一定要填写！");
			    myform.Subject.focus();
				return false;
			}
			if (myform.boardid.value=="")
			{
			    alert("请选择要发布的版面!");
				return false;
			}
			{IF:KS.Setting(59)="1"}
			if (myform.Name.value==""){
					alert("你好像还忘了填昵称哦！");
					myform.Name.focus();
					return false;
			}
					
			if (myform.Email.value==""){
					alert("电子邮件一定要填写哦！");
					myform.Email.focus();
					return false;
			}
					
			haha=myform.Email.value
			if(haha.length>0)
			{
						i=haha.indexOf("@");
						if(i==-1)
						{
							alert("哇！您输入的电子邮件有错误哦！")
							myform.Email.focus();
							return false;
						}
					   ii=haha.indexOf(".")
						if(ii==-1)
						{
							alert("哇！您输入的电子邮件有错误哦！")
							myform.Email.focus();
							return false;
						}
					}
					else
					{
						alert("能告诉我您的有效电子邮件吗？");
						myform.Email.focus();
						return false;
					}
				{/IF}	
					
					{$CheckCode}
					
					if (FCKeditorAPI.GetInstance('Memo').GetXHTML(true)=="")
					 {
					  alert("主题内容不能留空！");
					  FCKeditorAPI.GetInstance('Memo').Focus();
					  return false;
					 }
		
		 return true;

	}
				
     function DoTitle(addTitle) { 
				 var revisedTitle; 
				 var currentTitle = document.myform.Subject.value; 
				 revisedTitle = addTitle+currentTitle; 
				 document.myform.Subject.value=revisedTitle; 
				 document.myform.Subject.focus(); 
				 return; 
	 }
</script>

<body>
<div id="topdiv">
   <div id="topper">
	<div id="datediv"><img src="{$GetInstallDir}images/taiyang.gif" align="absmiddle">今天是：{$JS_Time2}</div>
	<div id="icon01"><img src="{$GetInstallDir}images/m_list_49.gif" align="absmiddle"></div>
	<div id="logondiv">{$GetTopUserLogin}</div>
	<div id="makehome"><img src="{$GetInstallDir}images/home.gif" align="absmiddle">{$JS_HomePage} <img src="{$GetInstallDir}images/email.gif" align="absmiddle"> {$JS_Collection} <img src="{$GetInstallDir}images/ic_chan.gif" align="absmiddle"> {$JS_Language}</div>
	<div class="clear"></div>
	</div>
</div>

<div style="text-align:center; padding-top:10px;"><img src="{$GetInstallDir}images/banner.jpg"></div>
<div class="clear"></div>
<!-- 顶部结束 -->
   <div class="leaves_main">
     <div class="leaaves_mainbox">
       <div class="ly_site">{LB_位置导航}</div>
   <div class="ly_top2">
	   <div class="ly_top2l"><a href="post.asp{$PostBoardID}"><img src="{$GetInstallDir}images/fatie.gif"></a></div>
	   <div class="ly_top2m"><a href="/"><img src="{$GetInstallDir}images/backhome.gif"></a></div>
	    <div class="ly_top2r">&nbsp;<img src="{$GetInstallDir}images/home.gif"><a href="index.asp">首页</a> <img src="{$GetInstallDir}images/10.gif"><a href="index.asp?isbest=1">精华</a> <img src="{$GetInstallDir}images/zhiding.gif"><a href="index.asp?istop=1">置顶</a></div>
	</div>
	   <div class="writeleaves">{$WriteGuestForm}</div>
   </div>
   </div>
<div class="clear"></div>
{LB_底部通用}
</body>
</html>