<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{@ask.sitetitle}-家具行业答案最全的问答网站</title>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<link href="{$GetInstallDir}images/index.css" type=text/css rel=stylesheet>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 
  <script src='../ks_inc/kesion.box.js' language="JavaScript"></script>
  <script src='../ks_inc/common.js' language="JavaScript"></script>
  <script src='../ks_inc/jquery.js' language="JavaScript"></script>
  <script language="javascript">
	function ShowLogin(){
	    popupIframe("会员登录","../user/userlogin.asp?Action=Poplogin",387,184,'no')
	}
	function handle(action,topicid,title){
		popupIframe(title,"handle.asp?Action="+action+"&topicid="+topicid,387,200,'no')
	}
	function checkform(){
	 if (FCKeditorAPI.GetInstance("TextContent").GetXHTML()==""){ 
		 alert('请输入回答内容!');
		 $("#TextContent").focus();
	     return false;
		 }
      {ifl:KS.ASetting(8)="1"}
	  if ($("#VerifyCode").val()==""){
		 alert('请输入验证码!');
		 $("#VerifyCode");
	     return false;
		 }
	  {/ifl}		 
    }
	$(document).ready(function()
	{
	     $("#answerbutton").click(function(){
			  return checkform()}
			 )
	     $("#VerifyCode").click(function(){
		  $("#showVerify").html('<img id="VerifyImg" style="cursor:pointer;" src="../plus/verifycode.asp?n=<%=Timer%>" onClick="this.src=\'../plus/verifycode.asp?n=\'+ Math.random();" align="absmiddle" />');
		 });
	});
   
 </script>
</head>
<body>
<div id="topdiv">
   <div id="topper">
	<div id="datediv"><img src="{$GetInstallDir}images/taiyang.gif" align="absmiddle">今天是：{$JS_Time2}</div>
	<div id="icon01"><img src="{$GetInstallDir}images/m_list_49.gif" align="absmiddle"></div>
	<div id="logondiv">{$GetTopUserLogin}</div>
	<div id="makehome"><img src="{$GetInstallDir}images/home.gif" align="absmiddle">{$JS_HomePage} <img src="{$GetInstallDir}images/email.gif" align="absmiddle"> {$JS_Collection} <img src="{$GetInstallDir}images/ic_chan.gif" align="absmiddle"> {$JS_Language}</div>
	<div class="clear"></div>
	</div>
</div>

	<div class="header">
	  <div class="head">
		<div class="logo"><img src="{$GetInstallDir}images/logo.jpg"></div>
		<div class="header_right">
		  <ul>
			<li width="80"><img src="{$GetInstallDir}Images/icon_01.gif" /></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_02.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_03.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_04.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_05.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_06.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_07.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_08.gif"/></li>
		  </ul>
		  <div class="clear"></div>
		  <ul>
			<li><a href="{$GetInstallDir}User/index.asp">会员中心</a></li>
			<li><a href="{$GetInstallDir}company">企业黄页</a></li>
			<li><a href="{$GetInstallDir}music">音乐系统</a></li>
			<li><a href="{$GetInstallDir}shop/GroupBuy.asp">团购报名</a></li>
			<li><a href="{$GetInstallDir}club/index.asp">互动交流</a></li>
			<li><a href="{$GetInstallDir}User/?User_ScoreExchange.asp">积分兑换</a></li>
			<li><a href="{$GetInstallDir}product">产 品 库</a></li>
			<li><a href="{$GetInstallDir}space">个人门户</a></li>
		  </ul>
		</div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="menu">
		<div class="nav">
			<ul>
				<li><a class=blue-bg href="{$GetInstallDir}">网站首页</a> </li>
				{LB_频道导航}
			</ul>
		</div>
	</div>
	<div class="sea">
		<div class="search">
			<div class="sea_l">
			    <div>
          <script>
  check=function(){
   if (document.getElementById('KeyWord').value=='')
   {
     alert("对不起,您没有输入关键字!");
	 return false
   }
  }
  goask=function(){
   if (document.getElementById('KeyWord').value=='')
   {
     alert("对不起,您没有输入关键字!");
	 return false
   }else{
    window.open('a.asp?q='+document.getElementById('KeyWord').value);
	return false;
   }
   
  }
        </script>
          <form action="search.asp" method="post" name="myform" id="myform">
            <dt>问题搜索
                <input type="text" name="KeyWord" id="KeyWord" size="20" />
                  <input type="image" src="{$GetInstallDir}ask/images/ask003.gif" onClick="return(check())" align="absmiddle" />
                  <input type="image" src="{$GetInstallDir}ask/images/ask004.gif" onClick="return(goask())" align="absmiddle" />
              </dt>
          </form>
        </div>
	</div>
			<div class="sea_r">{=GetTags(1,8)}</div>
		</div>
	</div>
<div class="clear"></div>
<!-- 顶部结束 -->


<div class="ask_main1">
  <div class="ask_main1_l">
     <div class="askbutton"><a href="{$GetInstallDir}ask/a.asp"><img src="{$GetInstallDir}ask/images/ask.gif" alt="我要提问"></a></div>
	 <div class="ask_main1_lbox">
	   <div class="ask_main1_tit">问题分类</div>
	   <div class="ask_main1_box">
	       已解决问题数：<span class="askjjnum">{@ask.resolvednum}</span>条<br />
             待解决问题数：<span class="asknum">{@ask.unresolvednum}</span>条
			 <div class="clear"></div>
			<hr size=1 color="#B6D3EB">
			<dl id=leftCategory>{@ask.menulist}</dl>
	   </div>
	 </div>
  </div>
  <div class="ask_main1_twr">
     <div class="position"><ul>当前位置：<a href="{$GetInstallDir}">科汛网络开发</a> &gt; <a href="{$GetInstallDir}ask">问吧首页</a> {@class.shownav} &gt; 查看问题 </ul></div>
	
	  <div class="askad"><img src="{$GetInstallDir}ask/images/askad.gif"></div>

     <div class="asklist">
	       
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td> {IF:currpage=1}
              <table width="100%" border="0" cellpadding="5" cellspacing="10" bgcolor="#C5E8FC">
                  <tr>
                    <td valign="top" bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="100" align="center" bgcolor="#EEEEEE"><br />
                              <img name="" src="{@topic.userface}" width="62" height="62" alt="" /><br />
                            {@topic.username}<br />
                            {@topic.gradetitle}</td>
                          <td valign="top"><table width="100%" border="0" cellspacing="5" cellpadding="5">
                              <tr>
                                <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td><span class="STYLE3">{@topic.title}</span><br />
                                          <span class="f1">浏览次数:{@topic.hits}次</span> {elseif:expired=0} <span class="f1">离过期还有{@topic.remaindays}天</span> {else} <span class="f1">此问题已过期</span> {/elseif} </td>
                                      <td width="100" rowspan="2" align="center"><img src="images/fav.gif" align="absmiddle"><a target="_hideframe" href="userfavorite.asp?topicid={@topic.topicid}" title="收藏到您的个人中心，以便下次查看">收藏</a> <img src="images/askjj{@topic.status}.jpg" width="99" height="42" /></td>
                                    </tr>
                                    <tr>
                                      <td><span class="STYLE3">{@topic.reward}</span>提问于：<span class="STYLE3">{@topic.time}</span> </td>
                                    </tr>
                                </table></td>
                              </tr>
                              <tr>
                                <td><div>{@topic.content}</div>
                                  {if1:answer(6,0)<>"" and ks.ASetting(10)="1"}
                                  <div style="border-bottom:1px solid #cccccc"></div>
                                  <strong>问题补充:</strong> {@topic.addtext}
                                  {/if1} </td>
                              </tr>
                            {ifc:KS.C("UserName")=PostUserName and CloseTopic=0 and topicmode=0}
                            <tr>
                              <td> {ifl:KS.ASetting(10)="1"} <a class="btn1" href="#" onClick="handle(1,{@topic.topicid},'问题补充');">问题补充</a> {/ifl} <a class="btn1" href="#" onClick="handle(2,{@topic.topicid},'提高悬赏');">提高悬赏</a> <a class="btn1" href="#" onClick="handle(3,{@topic.topicid},'无满意答案');">无满意答案</a> </td>
                            </tr>
                            {/ifc}
                          </table></td>
                        </tr>
                    </table></td>
                  </tr>
                </table>
              <br />
              {/IF}
              
              {@answerlist.begin}
              <table width="100%" border="0" cellpadding="5" cellspacing="10" bgcolor="#E7E8EC">
                <tr>
                  <td valign="top" bgcolor="#FFFFFF">
				  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="100" align="center" bgcolor="#EEEEEE"><br />
                    <img name="" src="{@answer.userface}" width="62" height="62" alt="{@answer.username}" /><br />
                        {@answer.username}<br />
                        {@answer.gradetitle}</td>
                      <td valign="top">
					  <table width="100%" border="0" cellspacing="5" cellpadding="5">
                        <tr>
                          <td>回答于：<span class="STYLE3">{@answer.time}</span></td>
                          {ifl:{@answer.postsid}=BestID}
                          <td width="85" rowspan="2" align="center"><img src="images/ask_jp.jpg" width="85" height="103" /></td>
                          {/ifl} </tr>
                        <tr>
                          <td> {@answer.content}
                            {ifl:KS.C("UserName")=PostUserName and KS.ASetting(10)="1" and CloseTopic=0 and topicmode=0} <a class="btn1" href="handle.asp?topicid={@topic.topicid}&pid={@answer.postsid}&action=selbest">采纳</a> {/ifl}
                            {ifl:KS.C("UserName")=PostUserName and KS.ASetting(12)="1" and CloseTopic=0 and topicmode=0} <a class="btn1" onClick="return(confirm('确定删除该回答吗?'))" href="handle.asp?topicid={@topic.topicid}&pid={@answer.postsid}&action=delanswer">删除</a> {/ifl} </td>
                        </tr>
                      </table></td>
                    </tr>
                  </table></td>
                </tr>
              </table>
              <br />
              {@answerlist.end}
			  <iframe name="_hideframe" id="_hideframe" style="display:none;"></iframe>
			  
			  <table  border="0" width="100%">
                <tr>
                  <td>{@foot.showpage}</td>
				</tr>
			  </table>
			  
              {if:KS.ASetting(7)="1" and CloseTopic=0 and topicmode=0 and expired=0} <br />
              <table width="100%" border="0" cellpadding="5" cellspacing="10" bgcolor="#C5E8FC">
                <tr>
                  <td valign="top" bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="120" align="center" valign="top"><span class="STYLE3"><br />
                        我来回答</span><br />
                        <br /></td>
                      <td valign="top"><table width="100%" border="0" cellspacing="5" cellpadding="5">
                        
                        <form method="post" name="answerform" id="answerform" action="postsave.asp" target="_hideframe">
                          <input type="hidden" name="topicid" value="{@topic.topicid}"/>
                          <input type="hidden" name="action" value="saveanswer" />
                          <tr>
                            <td height="120"><textarea style="display:none" name="TextContent" id="TextContent" cols="80" rows="8" wrap="PHYSICAL"></textarea>
    <iframe  id="content___Frame" src="../KS_Editor/FCKeditor/editor/fckeditor.html?InstanceName=TextContent&amp;Toolbar=Basic" width="98%" height="150" frameborder="0" scrolling="no"></iframe>
                            </td>
                          </tr>
                          {ifl:KS.ASetting(8)="1"}
                          <tr>
                            <td><input type="text" name="VerifyCode" id="VerifyCode" maxlength="6" size="8" tabindex="3" class="textbox" />
							<span id="showVerify">点击输入框获取</span>
                             </td>
                          </tr>
                          {/ifl}
                          <tr>
                            <td><input name="answerbutton" id="answerbutton" type="image" src="images/hd.gif" align="absmiddle" />
                              {ifl:KS.Asetting(30)<>"0"}
                              第一次回答可获<font color=red>{@topic.firstanswerscore}</font>分，
                              {/ifl}
                              {ifl:KS.Asetting(31)<>"0"}
                              答案被采纳还可获得悬赏分和额外<font color=red>{@topic.adoptedanswerscore}</font>分奖励
                              {/ifl} </td>
                          </tr>
                        </form>
                      </table></td>
                    </tr>
                  </table></td>
                </tr>
              </table>
              {/if} <br /></td>
          </tr>
        </table>	 </div>
  </div>

</div>

<div class="clear"></div>
{LB_底部通用}
</body>
</html>