<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{$GetClassName}-{$GetSiteName}</title>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 
<link href="{$GetInstallDir}images/index.css" type=text/css rel=stylesheet>
</head>
<body>
<div id="topdiv">
   <div id="topper">
	<div id="datediv"><img src="{$GetInstallDir}images/taiyang.gif" align="absmiddle">今天是：{$JS_Time2}</div>
	<div id="icon01"><img src="{$GetInstallDir}images/m_list_49.gif" align="absmiddle"></div>
	<div id="logondiv">{$GetTopUserLogin}</div>
	<div id="makehome"><img src="{$GetInstallDir}images/home.gif" align="absmiddle">{$JS_HomePage} <img src="{$GetInstallDir}images/email.gif" align="absmiddle"> {$JS_Collection} <img src="{$GetInstallDir}images/ic_chan.gif" align="absmiddle"> {$JS_Language}</div>
	<div class="clear"></div>
	</div>
</div>

	<div class="header">
	  <div class="head">
		<div class="logo"><img src="{$GetInstallDir}images/logo.jpg"></div>
		<div class="header_right">
		  <ul>
			<li width="80"><img src="{$GetInstallDir}Images/icon_01.gif" /></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_02.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_03.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_04.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_05.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_06.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_07.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_08.gif"/></li>
		  </ul>
		  <div class="clear"></div>
		  <ul>
			<li><a href="{$GetInstallDir}User/index.asp">会员中心</a></li>
			<li><a href="{$GetInstallDir}company">企业黄页</a></li>
			<li><a href="{$GetInstallDir}music">音乐系统</a></li>
			<li><a href="{$GetInstallDir}shop/GroupBuy.asp">团购报名</a></li>
			<li><a href="{$GetInstallDir}club/index.asp">互动交流</a></li>
			<li><a href="{$GetInstallDir}User/?User_ScoreExchange.asp">积分兑换</a></li>
			<li><a href="{$GetInstallDir}product">产 品 库</a></li>
			<li><a href="{$GetInstallDir}space">个人门户</a></li>
		  </ul>
		</div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="menu">
		<div class="nav">
			<ul>
				<li><a class=blue-bg href="{$GetInstallDir}">网站首页</a> </li>
				{LB_频道导航}
			</ul>
		</div>
	</div>
	<div class="sea">
		<div class="search">
			<div class="sea_l">{$GetSearch}</div>
			<div class="sea_r">{=GetTags(1,8)}</div>
		</div>
	</div>
<div class="clear"></div>
<div class="xinwenbg">
  <div class="xinwen">下载中心 Download</div>
  <div class="xiazaidh"><ul>{LB_下载导航}</ul></div>
</div>

<!-- 顶部结束 -->
<div class="clear"></div>

<div class="down_main1">
   <div class="down_main1_tit">精品源码推荐</div>
   <div class="down_main1_box">
      <ul>
	  
	  {LB_精品源码推荐}
	  </ul>
   </div>
</div>

  <div class="clear"></div>

<div class="down_main2">
   <div class="down_main2_l">
      <div class="down_main2_tit"><span class="more"><a href="{$GetInstallDir}Item/list.asp?id=733"><img src="{$GetInstallDir}images/more.gif"></a></span>ASP源码</div>
      <div class="down_main2_box">
	    <ul>
		  {LB_ASP源码}
		</ul>
	  </div>
   </div>
   <div class="down_main2_m">
       <div class="down_main2_tit"><span class="more"><a href="{$GetInstallDir}Item/list.asp?id=732"><img src="{$GetInstallDir}images/more.gif"></a></span>.NET源码</div>
      <div class="down_main2_box">
	    <ul>
		  {LB_ASP源码}
		</ul>
	  </div>
   
   </div>
   <div class="down_main2_r">
       <div class="down_main2_tit"><span class="more"><a href="{$GetInstallDir}Item/list.asp?id=731"><img src="{$GetInstallDir}images/more.gif"></a></span>PHP源码</div>
      <div class="down_main2_box">
	    <ul>
		  {LB_ASP源码}
		</ul>
	  </div>
   </div>
</div>


  <div class="clear"></div>

<div class="down_main2">
   <div class="down_main2_l">
      <div class="down_main2_tit"><span class="more"><a href="{$GetInstallDir}Item/list.asp?id=730"><img src="{$GetInstallDir}images/more.gif"></a></span>其它源码</div>
      <div class="down_main2_box">
	    <ul>
		  {LB_ASP源码}
		</ul>
	  </div>
   </div>
   <div class="down_main2_m">
       <div class="down_main2_tit"><span class="more"><a href="{$GetInstallDir}Item/list.asp?id=728"><img src="{$GetInstallDir}images/more.gif"></a></span>服务器类</div>
      <div class="down_main2_box">
	    <ul>
		  {LB_ASP源码}
		</ul>
	  </div>
   
   </div>
   <div class="down_main2_r">
       <div class="down_main2_tit"><span class="more"><a href="{$GetInstallDir}Item/list.asp?id=727"><img src="{$GetInstallDir}images/more.gif"></a></span>网络软件</div>
      <div class="down_main2_box">
	    <ul>
		  {LB_ASP源码}
		</ul>
	  </div>
   </div>
</div>

  <div class="clear"></div>

<div class="down_main2">
   <div class="down_main2_l">
      <div class="down_main2_tit"><span class="more"><a href="{$GetInstallDir}Item/list.asp?id=726"><img src="{$GetInstallDir}images/more.gif"></a></span>应用软件</div>
      <div class="down_main2_box">
	    <ul>
		  {LB_ASP源码}
		</ul>
	  </div>
   </div>
   <div class="down_main2_m">
       <div class="down_main2_tit"><span class="more"><a href="{$GetInstallDir}Item/list.asp?id=725"><img src="{$GetInstallDir}images/more.gif"></a></span>系统工具</div>
      <div class="down_main2_box">
	    <ul>
		  {LB_ASP源码}
		</ul>
	  </div>
   
   </div>
   <div class="down_main2_r">
       <div class="down_main2_tit"><span class="more"><a href="{$GetInstallDir}Item/list.asp?id=724"><img src="{$GetInstallDir}images/more.gif"></a></span>图形图像</div>
      <div class="down_main2_box">
	    <ul>
		  {LB_ASP源码}
		</ul>
	  </div>
   </div>
</div>

  <div class="clear"></div>

<div class="down_main2">
   <div class="down_main2_l">
      <div class="down_main2_tit"><span class="more"><a href="{$GetInstallDir}Item/list.asp?id=723"><img src="{$GetInstallDir}images/more.gif"></a></span>多媒体类</div>
      <div class="down_main2_box">
	    <ul>
		  {LB_ASP源码}
		</ul>
	  </div>
   </div>
   <div class="down_main2_m">
       <div class="down_main2_tit"><span class="more"><a href="{$GetInstallDir}Item/list.asp?id=722"><img src="{$GetInstallDir}images/more.gif"></a></span>安全相关</div>
      <div class="down_main2_box">
	    <ul>
		  {LB_ASP源码}
		</ul>
	  </div>
   
   </div>
   <div class="down_main2_r">
       <div class="down_main2_tit"><span class="more"><a href="{$GetInstallDir}Item/list.asp?id=720"><img src="{$GetInstallDir}images/more.gif"></a></span>硬件工具</div>
      <div class="down_main2_box">
	    <ul>
		  {LB_ASP源码}
		</ul>
	  </div>
   </div>
</div>




  <div class="clear"></div>
{LB_底部通用}
</body>
</html>
