<wml>
<head>
<meta http-equiv="Cache-Control" content="no-Cache"/>
<meta http-equiv="Cache-Control" content="max-age=0"/>
</head>
<card id="main" title="{$GetProductName}">
<p>
{$GetReadMessage}
商品名称:{$GetProductProperty}{$GetProductName}<br />
{=GetProductPhoto(128,128)}<br />
商品型号:{$GetProductModel}<br />
生 产 商:{$GetProducerName}<br />
产品编号:{$GetProductID}<br />
商品规格:{$GetProductSpecificat}<br />
销售类型:{$GetProductType}<br />
降价折扣:{$GetDiscount}折<br />
推荐等级:{$GetRank}<br />
我要购买:{$GetAddCar} {$GetFavorite}<br/>
上架时间:{$GetProductDate}<br />
【查看价格】<br />
市场价:￥{$GetPrice_Market}/{$GetProductUnit} 商城价:￥{$GetPrice}/{$GetProductUnit}<br />
会员价:￥{$GetPrice_Member}/{$GetProductUnit} 购物积分:{$GetScore}分/{$GetProductUnit}<br />
【商品说明】<br />
{=GetContentIntro(100)}<br />
【发表评论】<br/>
{$GetWriteComment}
{=GetShowComment(3,50)}

下:{$GetPrevProduct}<br/>
上:{$GetNextProduct}<br/>
--------<br />
{$GetLocation}<br/>
{$GetCopyRight}
</p>
</card>
</wml>