<link href="skin/enterprise1/style.css" rel="stylesheet" type="text/css">
<table width="950" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="719" height="94" background="skin/enterprise1/t-bg.jpg">{$ShowLogo}<span class="title_01">{$ShowBlogName}</span></td>
    <td width="231" background="skin/enterprise1/t-bg.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="40"><div align="right"><a href="{$GetInstallDir}" target="_blank"><img src="skin/enterprise1/gohome.gif" width="101" height="24" border="0"></a></div></td>
      </tr>
      <tr>
        <td><div align=right>今天是：
          <script src="{$GetInstallDir}ks_inc/time/2.js"></script>
       </div></td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="950" border="0" align="center" cellpadding="0" cellspacing="0" background="skin/enterprise1/m-bg.jpg" class="f-700">
  <tr>
    <td height="38" align="center" background="skin/enterprise1/m-bg2.jpg"><div align="center">{$ShowNavigation}</div></td>
  </tr>
</table>
<table width="950" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="950"><img src="skin/enterprise1/top.jpg" width="950" height="227"></td>
  </tr>
</table>
<table width="950" border="0" align="center" cellpadding="0" cellspacing="0" >
  <tr>
  <td width="325" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><table width="312" border="0" cellpadding="0" cellspacing="0" class="margin_t_5 tb">
          <tr>
            <td width="312" height="27" background="skin/enterprise1/tit-bg.gif" class="title_02">企业公告</td>
          </tr>
          <tr>
            <td height="85" valign="top" class="tb_b_1"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="margin_t_5">
              <tr>
                <td height="22" class="tb_s_1">{$ShowAnnounce}</td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="96%" border="0" cellpadding="0" cellspacing="0" class="margin_t_5 tb">
          <tr>
            <td height="27" background="skin/enterprise1/tit-bg.gif" class="title_02">企业新闻</td>
          </tr>
          <tr>
            <td height="85" valign="top" class="tb_b_1"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="margin_t_5">
              <tr>
                <td height="22" class="tb_s_1">{$ShowNews}</td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="96%" border="0" cellpadding="0" cellspacing="0" class="margin_t_5 tb">
          <tr>
            <td height="27" background="skin/enterprise1/tit-bg.gif" class="title_02">企业登录管理</td>
          </tr>
          <tr>
            <td height="85" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="margin_t_5">
              <tr>
                <td height="22" class="tb_s_1">{$ShowUserLogin}</td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
    <td width="625" valign="top"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
      <tr>
        <td><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="margin_t_5 margin_b_5">
  <tr>
    <td width="625" rowspan="3" valign="top">{$BlogMain}</td>
  </tr>
</table>
</td>
      </tr>
    </table></td>
    
  </tr>
</table>
<table width="950" border="0" align="center" cellpadding="0" cellspacing="0" class="margin_t_5">
  <tr>
    <td height="30" bgcolor="f3f4f6"><span class="foot">Powered by <a href='http://www.kesion.com' target="_blank">Kesion.Com</a> &copy; 2008</span></td>
  </tr>
</table>