
<style type="text/css">
<!--
body {BACKGROUND: url(skin/02/bgground.gif) #FEFFFF repeat-x 0px 0px;
	margin:0px;
	font-size: 9pt;
	COLOR: #666666; 
	FONT-FAMILY: Arial, Helvetica, sans-serif, Verdana,宋体;
	background-position:center;
	text-decoration: none;
}
td{font-size: 9pt;}
.spacelist{font-size:14px;font-weight:bold;color:#666666;padding-top:60px}
/* 网站链接总的css定义:可定义内容为链接字体颜色、样式等 */
a{text-decoration: none;}   /* 链接无下划线,有为underline */ 
a:link {color: #666666;}    /* 未访问的链接 */
a:visited {color: #666666;} /* 已访问的链接 */
a:hover{color: #ff0000;}   /* 鼠标在链接上 */ 
a:active {color: #666666;}  /* 点击激活链接 */
#Layer1 {
 position:absolute;
 width:200px;
 height:115px;
 z-index:1;
 top:139px;
 left:56px}


-->
</style>
</head>
<body>
<div id="Layer1">
  <img src="skin/02/fly.gif" border="0">
  <map name="Map"><area shape="rect" coords="427,81,476,128" href="space.asp?username={$ShowUserName}">
<area shape="rect" coords="496,81,537,126" href="blog.asp?username={$ShowUserName}">
<area shape="rect" coords="555,83,610,125" href="javascript:void(0)" onclick="ksblog.loading('photo','{$ShowUserName}');">
<area shape="rect" coords="622,85,695,125" href="javascript:void(0)" onclick="ksblog.loading('info','{$ShowUserName}')"><area shape="rect" coords="709,84,760,127" href="javascript:void(0)" onclick="ksblog.loading('friend','{$ShowUserName}')"><area shape="rect" coords="772,85,828,124" href="message.asp?UserName={$ShowUserName}"></map></div>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top">
	  <table width="1003" height="172" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="700" height="214" valign="middle"><img src="skin/02/topbanner.jpg" border="0" usemap="#Map"></td>
      </tr>
      
      
    </table>
      <table width="900" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
        <tr>
          <td width="678" valign="top"><table width="99%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <th scope="col"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="24"><img src="skin/02/left1.jpg" width="24" height="52" /></td>
                      <td align="left" valign="middle" background="skin/02/left2.jpg"><span style="color:#ff6600;font-size:16px;font-weight:bolder;">亲爱的朋友，欢迎您来到我的空间!</span></td>
                      <td align="right" valign="middle" background="skin/02/left2.jpg">&nbsp;</td>
                      <td width="31"><img src="skin/02/left3.gif" width="110" height="52" /></td>
                    </tr>
                </table></th>
              </tr>
              <tr>
                <td valign="top"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="border-left:#E5EED1 1px solid;border-right:#E5EED1 1px solid;border-bottom:#E5EED1 1px solid;margin-bottom:10px">
                  <tr>
                    <td height="800" valign="top" bgcolor="#F8F8EE" style="padding-left:8px;">{$BlogMain}					</td>
                  </tr>
                  
                </table></td>
              </tr>
          </table></td>
          <td width="220" valign="top"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="24"><img src="skin/02/left1.jpg" width="24" height="52" /></td>
                            <td align="left" valign="middle" background="skin/02/left2.jpg"><span class="spacelist">个人档案</span></td>
                            <td width="31"><img src="skin/02/left3.gif" width="110" height="52" /></td>
                          </tr>
                      </table></td>
                    </tr>
                    <tr>
                      <td valign="top">
					  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td colspan="3" valign="top" bgcolor="#FFFFFF">
							<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#F8F8EE"   style="border-left:#E5EED1 1px solid;border-right:#E5EED1 1px solid;">
                                <tr>
                                  <td valign="middle" bgcolor="#F8F8EE">{$ShowUserInfo}</td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td width="9" height="20" valign="top" background="skin/02/e7936.gif"><img src="skin/02/16736.jpg" width="9" height="24" /></td>
                            <td width="204" height="20" valign="top" background="skin/02/e7936.gif"></td>
                            <td width="7" valign="top" background="skin/02/e7936.gif" align="right" ><img src="skin/02/e636.jpg" width="7" height="24" /></td>
                          </tr>
                      </table></td>
                    </tr>
                </table></td>
              </tr>
              <tr>
                <td valign="top">
				<table width="100%" border="0" cellspacing="0" cellpadding="0"  style="margin-top:8px">
                  <tr>
                    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="24"><img src="skin/02/left1.jpg" width="24" height="52" /></td>
                          <td align="left" valign="middle" background="skin/02/left2.jpg"><span class="spacelist">高级日历</span></td>
                          <td width="31"><img src="skin/02/left3.gif" width="110" height="52" /></td>
                        </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td colspan="3" valign="top" bgcolor="#FFFFFF"><table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#F8F8EE"   style="border-left:#E5EED1 1px solid;border-right:#E5EED1 1px solid;">
                              <tr>
                                <td valign="middle">{$ShowCalendar}</td>
                              </tr>
                              
                          </table></td>
                        </tr>
                        <tr>
                            <td width="9" height="20" valign="top" background="skin/02/e7936.gif"><img src="skin/02/16736.jpg" width="9" height="24" /></td>
                            <td width="204" height="20" valign="top" background="skin/02/e7936.gif"></td>
                            <td width="7" valign="top" background="skin/02/e7936.gif" align="right" ><img src="skin/02/e636.jpg" width="7" height="24" /></td>
                          </tr>
                    </table></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td valign="top">
				<table width="100%" border="0" cellspacing="0" cellpadding="0"  style="margin-top:8px">
                  <tr>
                    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="24"><img src="skin/02/left1.jpg" width="24" height="52" /></td>
                          <td align="left" valign="middle" background="skin/02/left2.jpg"><span class="spacelist">最新留言</span></td>
                          <td width="31"><img src="skin/02/left3.gif" width="110" height="52" /></td>
                        </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td valign="top">
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td colspan="3" valign="top" bgcolor="#FFFFFF">
						  <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#F8F8EE"   style="border-left:#E5EED1 1px solid;border-right:#E5EED1 1px solid;">
                              <tr>
                                <td valign="middle" bgcolor="#F8F8EE">{$ShowMessage}</td>
                              </tr>
                          </table></td>
                        </tr>
                        <tr>
                            <td width="9" height="20" valign="top" background="skin/02/e7936.gif"><img src="skin/02/16736.jpg" width="9" height="24" /></td>
                            <td width="204" height="20" valign="top" background="skin/02/e7936.gif"></td>
                            <td width="7" valign="top" background="skin/02/e7936.gif" align="right" ><img src="skin/02/e636.jpg" width="7" height="24" /></td>
                          </tr>
                    </table></td>
                  </tr>
                </table></td>
              </tr>
              
              <tr>
                <td valign="top">				</td>
              </tr>
          </table>
            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
              
              <tr>
                <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0"  style="margin-top:8px">
                    <tr>
                      <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="24"><img src="skin/02/left1.jpg" width="24" height="52" /></td>
                            <td align="left" valign="middle" background="skin/02/left2.jpg"><span class="spacelist">空间统计</span></td>
                            <td width="31"><img src="skin/02/left3.gif" width="110" height="52" /></td>
                          </tr>
                      </table></td>
                    </tr>
                    <tr>
                      <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td colspan="3" valign="top" bgcolor="#FFFFFF"><table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#F8F8EE"   style="border-left:#E5EED1 1px solid;border-right:#E5EED1 1px solid;">
                                <tr>
                                  <td valign="middle" bgcolor="#F8F8EE" style="padding:5px">{$ShowBlogTotal}</td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td width="9" height="20" valign="top" background="skin/02/e7936.gif"><img src="skin/02/16736.jpg" width="9" height="24" /></td>
                            <td width="204" height="20" valign="top" background="skin/02/e7936.gif"></td>
                            <td width="7" valign="top" background="skin/02/e7936.gif" align="right" ><img src="skin/02/e636.jpg" width="7" height="24" /></td>
                          </tr>
                      </table></td>
                    </tr>
                </table></td>
              </tr>
              <tr>
                <td valign="top"></td>
              </tr>
            </table></td>
        </tr>
      </table>
      <table width="1003" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td height="31" align="center" valign="middle" scope="col"><span style="color:#555"><strong>科兴信息技术有限公司版权所有</strong></span></td>
        </tr>
    </table></td>
  </tr>
</table>
</body>
</html>