<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>查看[{$GetTitle}]的所有评论</title>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 
<link href="{$GetInstallDir}images/index.css" type=text/css rel=stylesheet>
<SCRIPT type=text/javascript>
function scrollDoor(){
}
scrollDoor.prototype = {
	sd : function(menus,divs,openClass,closeClass){
		var _this = this;
		if(menus.length != divs.length)
		{
			alert("菜单层数量和内容层数量不一样!");
			return false;
		}				
		for(var i = 0 ; i < menus.length ; i++)
		{	
			_this.$(menus[i]).value = i;				
			_this.$(menus[i]).onmouseover = function(){
					
				for(var j = 0 ; j < menus.length ; j++)
				{						
					_this.$(menus[j]).className = closeClass;
					_this.$(divs[j]).style.display = "none";
				}
				_this.$(menus[this.value]).className = openClass;	
				_this.$(divs[this.value]).style.display = "block";				
			}
		}
		},
	$ : function(oid){
		if(typeof(oid) == "string")
		return document.getElementById(oid);
		return oid;
	}
}
window.onload = function(){
	var SDmodel = new scrollDoor();
	SDmodel.sd(["m01","m02"],["c01","c02"],"sd01","sd02");

}
</SCRIPT>
</head>
<body>
<div id="topdiv">
   <div id="topper">
	<div id="datediv"><img src="{$GetInstallDir}images/taiyang.gif" align="absmiddle">今天是：{$JS_Time2}</div>
	<div id="icon01"><img src="{$GetInstallDir}images/m_list_49.gif" align="absmiddle"></div>
	<div id="logondiv">{$GetTopUserLogin}</div>
	<div id="makehome"><img src="{$GetInstallDir}images/home.gif" align="absmiddle">{$JS_HomePage} <img src="{$GetInstallDir}images/email.gif" align="absmiddle"> {$JS_Collection} <img src="{$GetInstallDir}images/ic_chan.gif" align="absmiddle"> {$JS_Language}</div>
	<div class="clear"></div>
	</div>
</div>

	<div class="header">
	  <div class="head">
		<div class="logo"><img src="{$GetInstallDir}images/logo.jpg"></div>
		<div class="header_right">
		  <ul>
			<li width="80"><img src="{$GetInstallDir}Images/icon_01.gif" /></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_02.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_03.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_04.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_05.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_06.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_07.gif"/></li>
			<li width="80"><img src="{$GetInstallDir}Images/icon_08.gif"/></li>
		  </ul>
		  <div class="clear"></div>
		  <ul>
			<li><a href="{$GetInstallDir}User/index.asp">会员中心</a></li>
			<li><a href="{$GetInstallDir}company">企业黄页</a></li>
			<li><a href="{$GetInstallDir}music">音乐系统</a></li>
			<li><a href="{$GetInstallDir}shop/GroupBuy.asp">团购报名</a></li>
			<li><a href="{$GetInstallDir}club/index.asp">互动交流</a></li>
			<li><a href="{$GetInstallDir}User/?User_ScoreExchange.asp">积分兑换</a></li>
			<li><a href="{$GetInstallDir}product">产 品 库</a></li>
			<li><a href="{$GetInstallDir}space">个人门户</a></li>
		  </ul>
		</div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="menu">
		<div class="nav">
			<ul>
				<li><a class=blue-bg href="{$GetInstallDir}">网站首页</a> </li>
				{LB_频道导航}
			</ul>
		</div>
	</div>
	<div class="sea">
		<div class="search">
			<div class="sea_l">{$GetSearch}</div>
			<div class="sea_r">{=GetTags(1,8)}</div>
		</div>
	</div>
<div class="clear"></div>
<div class="xinwenbg">
  <div class="xinwen">图片中心 Photo</div>
  <div class="xinwendh"><ul>{LB_图片导航}</ul></div>
</div>

<!-- 顶部结束 -->
<div class="clear"></div>


<!-- 主体部份开始 -->


<div class="pic_main">
   <div class="pic_left">
      <div class="position"><ul>{LB_位置导航}</ul></div>
	  <div class="pic_left_main">
     	<div class="aboutarticle">
	    <div class="about_article">发表评论</div>
		 <div class="WriteComment">{$GetWriteComment}</div>
	</div>	
	  <div class="aboutarticle">
	    <div class="about_article">用户评论</div>
		 <div class="ShowComment">{$GetShowComment}</div>
	</div>		  
   <div class="goindex"><a href="{$GetInstallDir}"><img height=100 src="{$GetInstallDir}Images/goindex.gif" width=285 border=0></a></div>
		
	  </div>
   </div>
   <div class="pic_right">
     <div class="ad275"><a href="http://www.kesion.com"><img src="{$GetInstallDir}images/ad275.jpg" alt="科汛CMS"></a></div>
	 
	  <!--推荐新闻-->
       <div class=preview>
			<div class=scrolldoorFrame>
				
                 <ul class=scrollUl>
				    <li class="tit">精彩推荐</li>
					<li class=sd01 id=m01 >精彩图片</li>
					<li class=sd02 id=m02 value=1>经典回眸</li>
				</ul>
				<div class="bor03 cont">
					<div id=c02 style="DISPLAY: none; height:240px; background:url(/images/hotr.gif) no-repeat;">
					   <ul>
						 {LB_通用热门图片}
					   </ul>
					</div>
					<div class=hidden id=c01 style="DISPLAY: block; height:240px; background:url(/images/hotr.gif) no-repeat;">
					   <ul>
						  {LB_通用推荐图片}
					   </ul>
					  </div>
				</div>
			</div>
		</div>

   <!--推荐新闻结束-->
           <!--google广告-->
     <div class="googlead">
	    <script type="text/javascript"><!--
google_ad_client = "pub-5956859924490666";
/* 250x250, 创建于 10-1-4 */
google_ad_slot = "0811701821";
google_ad_width = 250;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
	 </div>
	    <!--google广告-->


          <div class="class_box">
	     <div class="class_title">图片新闻</div>
	     <div class="class_list">
		    {LB_图片报道}
		 </div>
	 </div>
	 
   </div>
</div>


<div class="clear"></div>
{LB_底部通用}
</body>
</html>

